<aside id="admin-nav">
    <article class="rubrique">
        <div class="card-header">
            <h2>Utilisateurs</h2>            
        </div>
        <div class="card-body">
            <p>
                <a href="{{ path('app_admin_users_bannis') }}">Utilisateurs bannis</a>
                <a href="{{ path('app_admin_users_unbanned') }}">Utilisateurs non bannis</a>
                <a href="#">Modérateurs</a>
            </p>            
        </div>
    </article>
    <article class="rubrique">
        <div class="card-header">
            <h2>Mémoriaux</h2>            
        </div>
        <div class="card-body">
            <p>
                <a href="{{ path('app_admin_memoriaux') }}">Liste des mémoriaux</a>
                <a href="{{ path('app_admin_condoleances') }}">Messages de condoléances</a>
                <a href="{{ path('app_admin_categories') }}">Catégories</a>  
            </p>            
        </div>
    </article>
    <article class="rubrique">
        <div class="card-header">
            <h2>Forum</h2>            
        </div>
        <div class="card-body">
            <p>
                <a href="#">Liste des topics</a>
                <a href="{{ path('app_admin_topics_deverrouilles') }}">Topics déverrouillés</a>
                <a href="{{ path('app_admin_topics_verrouilles') }}">Topics verrouillés</a>
                <a href="{{ path('app_admin_forum_posts') }}">Liste des posts</a>
            </p>            
        </div>
    </article>
    <article class="rubrique">
        <div class="card-header">
            <h2>Belles histoires</h2>            
        </div>
        <div class="card-body">
            <p>
                <a href="{{ path('app_admin_histoires_publiees') }}">Histoires publiées</a>
                <a href="{{ path('app_admin_histoires_attente') }}">Histoires en attente</a>
                <a href="{{ path('app_admin_histoires_desapprouvees') }}">Histoires désapprouvées</a>
                <a href="{{ path('app_admin_histoires_commentaires') }}">Liste des commentaires</a>
                <a href="{{ path('app_admin_histoires_genres') }}">Genres / ajout</a>
            </p>            
        </div>
    </article>
    <article class="rubrique">
        <div class="card-header">
            <h2>Mur de commémoration</h2>
        </div>
        <div class="card-body">
            <p>
                <a href="{{ path('app_admin_commemoration_mots') }}">Liste des mots</a>
            </p>            
        </div>
    </article>
    <article class="rubrique">
        <div class="card-header">
            <h2>Messagerie</h2>            
        </div>
        <div class="card-body">
            <p>
                <a href="{{ path('app_admin_messagerie_signales') }}">Messages signalés</a>
            </p>            
        </div>
    </article>
</aside>