<aside id="admin-nav">
    <article class="rubrique">
        <div class="card-header">
            <h2>Utilisateurs</h2>            
        </div>
        <div class="card-body">
            <p>
                <a href="{{ path('app_admin_users_bannis') }}">Utilisateurs bannis</a>
                <a href="{{ path('app_admin_users_unbanned') }}">Utilisateurs non bannis</a>
                <a href="#">Modérateurs</a>
            </p>            
        </div>
    </article>
    <article class="rubrique">
        <div class="card-header">
            <h2>Mémoriaux</h2>            
        </div>
        <div class="card-body">
            <p>
                <a href="{{ path('app_admin_memoriaux') }}">Mémoriaux</a>
                <a href="{{ path('app_admin_memoriaux_signales') }}">Mémoriaux signalés</a>
                <a href="{{ path('app_admin_condoleances') }}">Condoléances</a>
                <a href="{{ path('app_admin_condoleances_signalees') }}">Condoléances signalées</a>
                <a href="{{ path('app_admin_categories') }}">Catégories</a>  
            </p>            
        </div>
    </article>
    <article class="rubrique">
        <div class="card-header">
            <h2>Forum</h2>            
        </div>
        <div class="card-body">
            <p>
                <a href="{{ path('app_admin_topics') }}">Topics</a>
                <a href="{{ path('app_admin_topics_signales') }}">Topics signalés</a>
                <a href="{{ path('app_admin_forum_posts') }}">Posts</a>
                <a href="{{ path('app_admin_forum_posts_signales') }}">Posts signales</a>
            </p>            
        </div>
    </article>
    <article class="rubrique">
        <div class="card-header">
            <h2>Belles histoires</h2>            
        </div>
        <div class="card-body">
            <p>
                <a href="{{ path('app_admin_histoires_publiees') }}">Histoires publiées</a>
                <a href="{{ path('app_admin_histoires_attente') }}">Histoires en attente</a>
                <a href="{{ path('app_admin_histoires_desapprouvees') }}">Histoires désapprouvées</a>
                <a href="{{ path('app_admin_histoires_signalees') }}">Histoires signalées</a>
                <a href="{{ path('app_admin_histoires_commentaires') }}">Commentaires</a>
                <a href="{{ path('app_admin_histoires_commentaires_signales') }}">Commentaires signalés</a>
                <a href="{{ path('app_admin_histoires_genres') }}">Genres / ajout</a>
            </p>            
        </div>
    </article>
    <article class="rubrique">
        <div class="card-header">
            <h2>Mur de commémoration</h2>
        </div>
        <div class="card-body">
            <p>
                <a href="{{ path('app_admin_commemoration_mots') }}">Mots</a>
                <a href="{{ path('app_admin_commemoration_mots_signales') }}">Mots signalés</a>
            </p>            
        </div>
    </article>
    <article class="rubrique">
        <div class="card-header">
            <h2>Messagerie</h2>            
        </div>
        <div class="card-body">
            <p>
                <a href="{{ path('app_admin_messagerie_signales') }}">Messages signalés</a>
            </p>            
        </div>
    </article>
</aside>