<div class="js-auto-refresh-content delete-report">
{% if commentaires|length > 0 %}
    {% for commentaire in commentaires %}
    <article class="commentaire">
        <div class="commentaire-header">
            <div class="commentaire-header-left">
                <figure>
                    <img src="{{ asset('img/angel_dog.jpg') }}" alt="photo de l'histoire">    
                </figure>
                <div class="comment-infos">
                    {# {{ dump(commentaire.id) }} #}
                    {% if commentaire.auteur != null %}
                        <a href="{{ path('show_profile', {'id': commentaire.auteur.id}) }}">{{ commentaire.auteur }}</a>
                    {% else %}
                        <p>Utilisateur supprimé</p>
                    {% endif %}     
                    <p>{{ commentaire.dateCreation | date('d-m-Y') }}</p>              
                </div>                 
            </div>
            <div class="commentaire-header-right">
                {% include "_partials/_likeComment.html.twig" %}   
                {% if app.user == commentaire.auteur %}
                    {% if consultedInGenre == true %}
                        {# <a class="delete" href="{{ path('remove_comment_genre', {'slug': histoire.slug, 'id': commentaire.id, 'idGenre': histoire.genre.id}) }}"><i class="fa-solid fa-trash"></i></a> #}
                        <a id="{{ commentaire.id }}" class="open-dialog" href="#"><i class="fa-solid fa-trash"></i></a>  
                        <dialog id="dialog{{ commentaire.id }}" class="dialog-delete-style">
                            <p><i class="fa-solid fa-triangle-exclamation"></i> Cette action est irréversible, êtes-vous sûr de vouloir supprimer ce commentaire ?</p>
                            <form method="dialog" id="dialog-form-delete" class="form-dialog-delete-style">
                                <button class="bouton-action" id="annuler{{ commentaire.id }}">Non, je le laisse !</button>
                                <a class="supprimer-dialog-style" href="{{ path('remove_comment_genre', {'slug': histoire.slug, 'id': commentaire.id, 'idGenre': histoire.genre.id }) }}">Supprimer le commentaire</a>
                            </form>
                        </dialog> 
                    {% else %}
                        {# <a class="delete" href="{{ path('remove_comment', {'slug': histoire.slug, 'id': commentaire.id}) }}"><i class="fa-solid fa-trash"></i></a> #}
                        <a id="{{ commentaire.id }}" class="open-dialog" href="#"><i class="fa-solid fa-trash"></i></a>  
                        <dialog id="dialog{{ commentaire.id }}" class="dialog-delete-style">
                            <p><i class="fa-solid fa-triangle-exclamation"></i> Cette action est irréversible, êtes-vous sûr de vouloir supprimer ce commentaire ?</p>
                            <form method="dialog" id="dialog-form-delete" class="form-dialog-delete-style">
                                <button class="bouton-action" id="annuler{{ commentaire.id }}">Non, je le laisse !</button>
                                <a class="supprimer-dialog-style" href="{{ path('remove_comment', {'slug': histoire.slug, 'id': commentaire.id }) }}">Supprimer le commentaire</a>
                            </form>
                        </dialog> 
                    {% endif %}
                    {# <button id="{{ commentaire.id }}" class="modify-button" type="submit"> Modifier </button> #}
                    <a id="{{ commentaire.id }}" class="modify-button" type="submit"><i class="fa-solid fa-file-pen"></i></a>
                {% else %}
                    {% if commentaire.reports |length > 0 %}
                        {% for report in app.user.reportedComments %}
                                {% if (report.commentaire == commentaire) and (app.user == report.signaleur) %}
                                        <a class="report-flag" href="{{ path('app_report_comment', {'id': commentaire.id}) }}"><i class="fa-solid fa-flag flag-report-icon reported"></i></a> 
                                {% endif %}
                        {% endfor %}
                    {% else %}
                            <a class="report-flag" href="{{ path('app_report_comment', {'id': commentaire.id}) }}"><i class="fa-solid fa-flag flag-report-icon unreported"></i></a> 
                    {% endif %}   
                {% endif %}         
            </div>
        </div>

        <div id="condoleance{{ commentaire.id }}" class="commentaire-content">
            <p>{{ commentaire.texte|raw }}  
        </div>
        <div id="form{{ commentaire.id }}" class="modify-form">
            <a id="close{{ commentaire.id }}" class="close" href="#"><i class="fa-solid fa-xmark"></i></a>                                
            <form id="formulaire{{ commentaire.id }}"  class="js-modify-form" method="POST" action="{{path('edit_commentaire',{'id':commentaire.id, 'slugHistoire':histoire.slug})}}">
                    <div class="form-element">
                            <textarea id="texte_edit{{ commentaire.id }}" name="texte" class="form-control">{{ commentaire.texte}}</textarea>  
                            <input type="hidden" name="token" value="{{ csrf_token('modify-item') }}"/>
                            <button type="submit" name="modify" value="submit" class="green form-button">Modifier</button>      
                    </div>
            </form>                                
        </div>    
    </article>
    {% endfor %}   
    <div class="pagination">
        {{ knp_pagination_render(commentaires) }}
    </div> 
{% else %}
    <div id="sans-commentaire">
        <p>Soyez le premier à commenter</p>        
    </div>
{% endif %}
</div>