{% if commentaires|length > 0 %}
    {% for commentaire in commentaires %}
    {# <article class="commentaire">
        <div class="commentaire-photo">
            <figure>
                <img src="{{ asset('img/angel_dog.jpg') }}" alt="photo de l'histoire">    
            </figure>
        </div>
        <div class="commentaire-content">
            <div class="comment-infos">
                {% if commentaire.auteur != null %}
                    <p>{{ commentaire.auteur }}</p></p>
                {% else %}
                    <p>(Utilisateur supprimé)</p>
                {% endif %}     
                <p>{{ commentaire.dateCreation | date('d-m-Y') }}</p>              
            </div>
            <p>{{ commentaire.texte|raw }}  
        </div>
            {% if app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                <a href="{{ path('remove_comment', {'slug': histoire.slug, 'id': commentaire.id}) }}">Delete</a>
            {% endif %}
        </footer>
        {% include "_partials/_likeComment.html.twig" %}
    </article> #}
    <article class="commentaire">
        <div class="commentaire-header">
            <div class="commentaire-header-left">
                <figure>
                    <img src="{{ asset('img/angel_dog.jpg') }}" alt="photo de l'histoire">    
                </figure>
                <div class="comment-infos">
                    {# {{ dump(commentaire.id) }} #}
                    {% if commentaire.auteur != null %}
                        <p>{{ commentaire.auteur }}</p></p>
                    {% else %}
                        <p>(Utilisateur supprimé)</p>
                    {% endif %}     
                    <p>{{ commentaire.dateCreation | date('d-m-Y') }}</p>              
                </div>                 
            </div>
            <div class="commentaire-header-right">
                {% include "_partials/_likeComment.html.twig" %}   
                {% if app.user == commentaire.auteur %}
                    {% if consultedInGenre == true %}
                        <a class="delete" href="{{ path('remove_comment_genre', {'slug': histoire.slug, 'id': commentaire.id, 'idGenre': histoire.genre.id}) }}"><i class="fa-solid fa-trash"></i></a>
                    {% else %}
                        <a class="delete" href="{{ path('remove_comment', {'slug': histoire.slug, 'id': commentaire.id}) }}"><i class="fa-solid fa-trash"></i></a>
                    {% endif %}
                    <button id="{{ commentaire.id }}" class="modify-button" type="submit"> Modifier </button>
                {% else %}
                    {% if commentaire.reports |length > 0 %}
                        {% for report in app.user.reportedComments %}
                                {% if (report.commentaire == commentaire) and (app.user == report.signaleur) %}
                                        <a class="report-flag" href="{{ path('app_report_comment', {'id': commentaire.id}) }}"><i class="fa-solid fa-flag flag-report-icon reported"></i></a> 
                                {% endif %}
                        {% endfor %}
                    {% else %}
                            <a class="report-flag" href="{{ path('app_report_comment', {'id': commentaire.id}) }}"><i class="fa-solid fa-flag flag-report-icon unreported"></i></a> 
                    {% endif %}   
                {% endif %}         
            </div>
        </div>

        <div id="condoleance{{ commentaire.id }}" class="commentaire-content">
            <p>{{ commentaire.texte|raw }}  
        </div>
        <div id="form{{ commentaire.id }}" class="modify-form">
            <a id="close{{ commentaire.id }}" class="close" href="#"><i class="fa-solid fa-xmark"></i></a>                                
            <form id="formulaire{{ commentaire.id }}"  class="js-modify-form" method="POST" action="{{path('edit_commentaire',{'id':commentaire.id, 'slugHistoire':histoire.slug})}}">
                    <div class="form-element">
                            <textarea id="texte_edit{{ commentaire.id }}" name="texte" class="form-control">{{ commentaire.texte}}</textarea>  
                            <input type="hidden" name="token" value="{{ csrf_token('modify-item') }}"/>
                            <button type="submit" name="modify" value="submit" class="green">Modifier</button>      
                    </div>
            </form>                                
        </div>    
    </article>
    {% endfor %}   
    <div class="pagination">
        {{ knp_pagination_render(commentaires) }}
    </div> 
{% else %}
    <div id="sans-commentaire">
        <p>Soyez le premier à commenter</p>        
    </div>
{% endif %}