{% for commentaire in commentaires %}
{# <article class="commentaire">
    <div class="commentaire-photo">
        <figure>
            <img src="{{ asset('img/angel_dog.jpg') }}" alt="photo de l'histoire">    
        </figure>
    </div>
    <div class="commentaire-content">
        <div class="comment-infos">
            {% if commentaire.auteur != null %}
                <p>{{ commentaire.auteur }}</p></p>
            {% else %}
                <p>(Utilisateur supprimé)</p>
            {% endif %}     
            <p>{{ commentaire.dateCreation | date('d-m-Y') }}</p>              
        </div>
        <p>{{ commentaire.texte|raw }}  
    </div>
        {% if app.user and app.user.roles.0 == "ROLE_ADMIN" %}
            <a href="{{ path('remove_comment', {'slug': histoire.slug, 'id': commentaire.id}) }}">Delete</a>
        {% endif %}
    </footer>
    {% include "_partials/_likeComment.html.twig" %}
</article> #}
<article class="commentaire">
    <div class="commentaire-header">
        <div class="commentaire-header-left">
            <figure>
                <img src="{{ asset('img/angel_dog.jpg') }}" alt="photo de l'histoire">    
            </figure>
            <div class="comment-infos">
                {{ dump(commentaire.id) }}
                {% if commentaire.auteur != null %}
                    <p>{{ commentaire.auteur }}</p></p>
                {% else %}
                    <p>(Utilisateur supprimé)</p>
                {% endif %}     
                <p>{{ commentaire.dateCreation | date('d-m-Y') }}</p>              
            </div>                 
        </div>
        <div class="commentaire-header-right">
            {% include "_partials/_likeComment.html.twig" %}   
            {% if app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                {% if consultedInGenre == true %}
                    <a href="{{ path('remove_comment_genre', {'slug': histoire.slug, 'id': commentaire.id, 'idGenre': histoire.genre.id}) }}"><i class="fa-solid fa-trash"></i></a>
                {% else %}
                    <a href="{{ path('remove_comment', {'slug': histoire.slug, 'id': commentaire.id}) }}"><i class="fa-solid fa-trash"></i></a>
                {% endif %}

        {% endif %}         
        </div>
    </div>

    <div class="commentaire-content">
        <p>{{ commentaire.texte|raw }}  
    </div>
</article>
{% endfor %}    