{# <h2>Condoléances</h2>
{% if app.user %}
    <h3>Ajouter un message de condoléances</h3>
    {% include '_partials/_refreshForm.html.twig' %}  
{% endif %} #}
<div id="container-condoleances" class="js-auto-refresh-content modify-form-fragment delete-report">
        {% if condoleances| length > 0 %}
                {% for condoleance in condoleances %}
                        {# Laisser cette partie en visible de base puis la cachée lorsque le bouton est cliqué #}
                        <div class="condoleance-memorial modify-part">
                                <div class="condoleance-body">
                                        <div class="condoleance-infos">
                                                <p>{{ condoleance.auteur }}</p>   
                                                <p>{{ condoleance.dateCreation| date('d-m-Y') }}</p>                                                 
                                        </div>
                                        <div id="condoleance{{ condoleance.id }}" class="condoleance-texte">
                                                <p>{{ condoleance.texte| raw }}</p>                                
                                        </div>   
                                        <div id="form{{ condoleance.id }}" class="modify-form">
                                                <a id="close{{ condoleance.id }}" class="close" href="#"><i class="fa-solid fa-xmark"></i></a>                                
                                                <form id="formulaire{{ condoleance.id }}" class="js-modify-form" method="POST" action="{{path('edit_condoleance',{'id':condoleance.id, 'idMemorial':memorial.id})}}">
                                                        <div class="form-element">
                                                                <textarea id="texte_edit{{ condoleance.id }}" name="texte" class="form-control">{{ condoleance.texte}}</textarea>  
                                                                <input type="hidden" name="token" value="{{ csrf_token('modify-item') }}"/>
                                                                <button  type="submit" name="modify"  class="green">Modifier</button>         
                                                        </div>
                                                </form>                                
                                        </div>                                                                
                                </div>

                                <div class="condoleance-action">
                                        {% if app.user == condoleance.auteur %}
                                                {% if consultedInCategorie == true %}
                                                        <a class="delete" href="{{path('remove_condoleance_categorie', {'idMemorial': memorial.id, 'id': condoleance.id, 'idCategorie': memorial.categorieAnimal.id}) }}"><i class="fa-solid fa-trash"></i></a>
                                                        {# <button id="{{ condoleance.id }}" class="modify-button">Modifier</button>    #}
                                                {% else %}
                                                        <a class="delete" href="{{path('remove_condoleance', {'idMemorial': memorial.id, 'id': condoleance.id}) }}"><i class="fa-solid fa-trash"></i></a>
                                                        {# <button id="{{ condoleance.id }}" class="modify-button">Modifier</button>    #}
                                                {% endif %}
                                        {% endif %}       
                                        <button id="{{ condoleance.id }}" class="modify-button" type="submit"> Modifier </button>
                                        {# <a href="">Je suis un lien</a> #}
                                        {% if condoleance.reports |length > 0 %}
                                                {% for report in app.user.reportedCondoleances %}
                                                        {% if (report.condoleance == condoleance) and (app.user == report.signaleur) %}
                                                                <a class="report-flag" href="{{ path('app_report_condoleance', {'id': condoleance.id}) }}"><i class="fa-solid fa-flag flag-report-icon reported"></i></a> 
                                                        {% endif %}
                                                {% endfor %}
                                        {% else %}
                                                <a class="report-flag" href="{{ path('app_report_condoleance', {'id': condoleance.id}) }}"><i class="fa-solid fa-flag flag-report-icon unreported"></i></a> 
                                        {% endif %}
                                </div>
                        </div>
                {% endfor %}   
        {% endif %}
        <div class="condoleance-memorial-equipe">
                <div>
                        <p>{{ memorial.dateCreation| date('d-m-Y') }}</p>                          
                </div>
                <div>
                        <p>L'équipe d'Une Histoire de Pattes se joint à vous dans vos peines et vous adresse de sincères condoléances.</p>      
                </div>
        </div>        
</div>   
