{{ form_start(formSearch, {attr: {class: 'js-filter-form'}}) }}
    <div class="form-search">
        {{ form_row(formSearch.q) }}        
    </div>
    <div class="form-elements">
    {{ form_row(formSearch.categories) }}
    {{ form_row(formSearch.sexe) }}
    {{ form_row(formSearch.anneeDeces) }}
    {{ form_row(formSearch.moisDeces) }}        
    </div>
    {# {{ form_row(formSearch.submit) }} #}
{{ form_end(formSearch) }}
<a class="close" href="#"><i class="fa-solid fa-xmark"></i></a>