{{ form_start(formSearch, {attr: {class: 'js-filter-form'}}) }}
    <div class="form-search">
        {{ form_row(formSearch.q) }}        
    </div>
    <div class="form-container-flex-check">
        <div id="checks-container">
            <div class="form-element check">
                {{ form_row(formSearch.categories) }}         
            </div>            
            <div class="form-element check">
                {{ form_row(formSearch.sexe) }}       
            </div>            
        </div>

        <div id="selects-container">
            <div class="form-element">
                {{ form_row(formSearch.anneeDeces) }}          
            </div>
            <div class="form-element">
                {{ form_row(formSearch.moisDeces) }}    
            </div>            
            <div class="form-element">
                {{ form_row(formSearch.jourDeces) }}         
            </div>              
        </div>
          
    </div>
{{ form_end(formSearch) }}
<a id="suppr-filtres" class="bouton-action" href="{{ path('app_memoriaux_recherche') }}">Supprimer les filtres</a>
