<section id="posts" class="js-auto-refresh-content delete-report">
    {% for post in posts %}
        <article class="post">
            <div class="user-post-infos">
                <figure>
                    {% if (post.auteur != null) and (post.auteur.photo != null) %}
                        <img src="{{ asset('uploads/imgUser/'~ post.auteur.photo) }}" alt="profil de {{ post.auteur }}">
                    {% else %}
                        <img src="{{ asset('img/bouquet_fleurs.jpg') }}" alt="">
                    {% endif %}
                </figure>    
                <div class="infos-sup">
                    {% if post.auteur != null %}
                        <a href="{{ path('show_profile', {'id': post.auteur.id}) }}">{{ post.auteur }}</a>
                    {% else %}
                        <p>Utilisateur supprimé</p>
                    {% endif %}
                    <p>le {{ post.dateCreation | date('d-m-Y') }} à {{ post.dateCreation | date('H:i:s') }}</p>
                </div> 
                {% if app.user == post.auteur %}
                    <button id="{{ post.id }}" class="modify-button" type="submit"> Modifier </button> 
                    {# <a class="delete" href="{{ path('remove_post', {'slug': topic.slug, 'id': post.id}) }}"><i class="fa-solid fa-trash"></i></a> #}
                    <a id="{{ post.id }}" class="open-dialog" href="#"><i class="fa-solid fa-trash"></i></a>  
                    <dialog id="dialog{{ post.id }}" class="dialog-delete-style">
                        <p><i class="fa-solid fa-triangle-exclamation"></i> Cette action est irréversible, êtes-vous sûr de vouloir supprimer ce post ?</p>
                        <form method="dialog" id="dialog-form-delete" class="form-dialog-delete-style">
                            <button class="bouton-action" id="annuler{{ post.id }}">Non, je le laisse !</button>
                            <a class="supprimer-dialog-style" href="{{ path('remove_post', {'slug': topic.slug, 'id': post.id }) }}">Supprimer le post</a>
                        </form>
                    </dialog>   
                {% else %}
                    {% if post.reports |length > 0 %}
                        {% for report in app.user.reportedPosts %}
                                {% if (report.post == post) and (app.user == report.signaleur) %}
                                        <a class="report-flag" href="{{ path('app_report_post', {'id': post.id}) }}"><i class="fa-solid fa-flag flag-report-icon reported"></i></a> 
                                {% endif %}
                        {% endfor %}
                    {% else %}
                            <a class="report-flag" href="{{ path('app_report_post', {'id': post.id}) }}"><i class="fa-solid fa-flag flag-report-icon unreported"></i></a> 
                    {% endif %}
                {% endif %}
            </div>
            <div id="condoleance{{ post.id }}" class="post-texte">
                <p>{{ post.texte|raw }}</p>                
            </div>
            <div id="form{{ post.id }}" class="modify-form">
                <a id="close{{ post.id }}" class="close" href="#"><i class="fa-solid fa-xmark"></i></a>                                
                <form id="formulaire{{ post.id }}"  class="js-modify-form" method="POST" action="{{path('edit_post',{'id':post.id, 'slugTopic':topic.slug})}}">
                        <div class="form-element">
                                <textarea id="texte_edit{{ post.id }}" name="texte" class="form-control">{{ post.texte}}</textarea>  
                                <input type="hidden" name="token" value="{{ csrf_token('modify-item') }}"/>
                                <button type="submit" name="modify" value="submit" class="green">Modifier</button>         
                        </div>
                </form>                                
            </div>  
        </article>
    {% endfor %}          
</section>