{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}

<div class="container-page administration">
        {% include '_partials/_adminnav.html.twig' %}
        <main class="main-administration">
            <h1>Catégories</h1>            

            <section id="ajout-categorie">
                <h2>Ajouter une catégorie</h2>

                <div class="formulaire">
                    {{form_start(formAddCategorie)}}
                        <div class="form-element">
                            {{ form_row(formAddCategorie.nom) }}
                        </div>
                        <div class="form-element">
                            {{ form_row(formAddCategorie.submit) }}
                        </div>
                    {{form_end(formAddCategorie)}}              
                </div>
            </section>    
            <section class="list">             
                <table>
                    <tr>
                        <th>Nom</th>
                        <th>Editer</th>
                        <th>Supprimer</th>
                    </tr>
                {% for categorie in categories %}
                    <tr class="categorie">
                        <td>
                            <p>{{ categorie.nom }}  </p>                             
                        </td>
                        <td>
                            <a href="#">Editer</a> 
                        </td>
                        <td>
                            <a href="{{ path('app_admin_remove_categorie', {'id': categorie.id}) }}">Supprimer</a>  
                        </td>
                    </tr>
                {% endfor %}    
                </table>    
            </section>

        </main>
  
</div>
{% endblock %}