{% extends 'base.html.twig' %}

{% block title %}Condoléance{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/memorial.css') }}">
{% endblock %}

{% block body %}

<div class="container-page administration">
    {% include '_partials/_adminnav.html.twig' %}
    <main class="main-administration">
        <h1 id="memorial-title">Condoléance</h1>     

        <a href="{{ path('app_admin_condoleance_remove', {'idMemorial': condoleance.memorial, 'id': condoleance.id}) }}">Supprimer la condoléance</a>

        {% if condoleance.reports| length > 0 %}
            <a href="{{ path('app_admin_condoleance_remove_reports', {'id': condoleance.id}) }}">Supprimer les signalements</a>
        {% endif %}

        <p>{{ condoleance.texte }}</p>

        {{ form_start(formEditCondoleance) }}
        {{ form_end(formEditCondoleance) }} 
    </main>

</div>
{% endblock %}
