{% extends 'base.html.twig' %}

{% block title %}Condoléance{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/memorial.css') }}">
{% endblock %}

{% block body %}

<div class="container-page administration">
    {% include '_partials/_adminnav.html.twig' %}
    <main class="main-administration">
        <h1>Condoléance</h1>     

        <a class="manage-button" href="{{ path('app_admin_condoleance_remove', {'idMemorial': condoleance.memorial, 'id': condoleance.id}) }}">Supprimer la condoléance</a>

        {% if condoleance.reports| length > 0 %}
            <a class="manage-button" href="{{ path('app_admin_condoleance_remove_reports', {'id': condoleance.id}) }}">Supprimer les signalements</a>
        {% endif %}

        <div class="manage-condoleance">
            <p>{{ condoleance.texte|raw }}</p>
            <p>{{ condoleance.dateCreation| date('d-m-Y') }}</p>
        </div>


        <div  class="formulaire" id="form-infos-profil">
        {{ form_start(formEditCondoleance) }}
            <div class="form-element">
                {{ form_row(formEditCondoleance.texte) }}
            </div>
        {{ form_end(formEditCondoleance) }} 
        </div>
    </main>

</div>
{% endblock %}
