{% extends 'base.html.twig' %}

{% block title %}Mot de commémoration{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/memorial.css') }}">
{% endblock %}

{% block body %}

<div class="container-page administration">
    {% include '_partials/_adminnav.html.twig' %}
    <main class="main-administration">
        <h1>Mot de commémoration</h1>     

        <div class="manage-post">
            <p>{{ mot.mot|raw }}</p>               
        </div>

        <a class="manage-button" href="{{ path('app_admin_mot_remove', {'id': mot.id}) }}">Supprimer le mot</a>

        {% if mot.reports| length > 0 %}
            <a class="manage-button" href="{{ path('app_admin_mot_remove_reports', {'id': mot.id}) }}">Supprimer les signalements</a>
        {% endif %}


        <div class="formulaire" id="form-mot">
        {{ form_start(formEditMot) }}
            <div class="custom-errors">
                {{ form_errors(formEditMot.mot) }}
            </div>
            <div class="form-element">
                {{ form_row(formEditMot.mot) }}
            </div>
            <div class="form-element">
                {{ form_row(formEditMot.submit) }}
            </div>
        {{ form_end(formEditMot) }}  
        </div>

    </main>

</div>
{% endblock %}
