{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>

    <form>
        {{ form_start(registrationForm) }}
            <div class="form-element">
                {{ form_row(registrationForm.email) }}                
            </div>
            <div class="form-element">
                {{ form_row(registrationForm.pseudo) }}                
            </div>
            <div class="form-element">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
            </div>
            <div class="form-element">
                {{ form_row(registrationForm.agreeTerms) }}                
            </div>
            <div class="form-element">
                <button type="submit" class="btn">S'inscrire</button>                
            </div>
        {{ form_end(registrationForm) }}        
    </form>
{% endblock %}
