{% extends 'base.html.twig' %}

{% block title %}
    Ajout de refuge
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/api_lieu.js')}}"></script>
{% endblock %}

{% block body %}
<div class="container-page administration">
    {% include '_partials/_adminnav.html.twig' %}
    <main class="main-administration">
        <div class="formulaire" id="form-memorial">
                <h1>Ajout de refuge</h1>    
        {{ form_start(formAddRefuge) }}    
            <div class="custom-errors">
                {{ form_errors(formAddRefuge.nom) }}
            </div>
            <div class="form-element">
                {{ form_row(formAddRefuge.nom) }}            
            </div>
            <div class="custom-errors">
                {{ form_errors(formAddRefuge.numero) }}
            </div>
            <div class="form-element">
                {{ form_row(formAddRefuge.numero) }}            
            </div>
            <div class="custom-errors">
                {{ form_errors(formAddRefuge.rue) }}
            </div>
            <div class="form-element">
                {{ form_row(formAddRefuge.rue) }}            
            </div>
            <div class="custom-errors">
                {{ form_errors(formAddRefuge.ville) }}
            </div>
            <div class="form-element">
                {{ form_row(formAddRefuge.ville) }}            
            </div>
            <div class="custom-errors">
                {{ form_errors(formAddRefuge.codePostal) }}
            </div>
            <div class="form-element">
                {{ form_row(formAddRefuge.codePostal) }}            
            </div>
            <div class="custom-errors">
                {{ form_errors(formAddRefuge.departement) }}
            </div>
            <div class="form-element">
                {{ form_row(formAddRefuge.departement) }}            
            </div>
            <div class="custom-errors">
                {{ form_errors(formAddRefuge.site) }}
            </div>
            <div class="form-element">
                {{ form_row(formAddRefuge.site) }}            
            </div>
            <div class="custom-errors">
                {{ form_errors(formAddRefuge.latitude) }}
            </div>
            <div class="form-element">
                {{ form_row(formAddRefuge.latitude) }}            
            </div>
            <div class="custom-errors">
                {{ form_errors(formAddRefuge.longitude) }}
            </div>
            <div class="form-element">
                {{ form_row(formAddRefuge.longitude) }}            
            </div>
            <div class="form-element">
                {{ form_row(formAddRefuge.submit) }}
            </div>
        {{ form_end(formAddRefuge) }}  
        </div>
    </main>


</div>
<script>

    // Lorsque tous les éléments de la page sont chargés, le script peut s'exécuter
    window.addEventListener('DOMContentLoaded', (event) => {
        var numero = document.querySelector('#refuge_numero');
        var rue = document.querySelector('#refuge_rue');
        var ville = document.querySelector('#refuge_ville');
        var codePostal = document.querySelector('#refuge_codePostal');
        var departement = document.querySelector('#refuge_departement');
        var recherche = document.querySelector('#refuge_submit');
        var latitude = document.querySelector('#refuge_latitude');
        var longitude = document.querySelector('#refuge_longitude');


        departement.addEventListener("focusout", (event) => {
            event.preventDefault();
            fetch("https://nominatim.openstreetmap.org/search?city="+ville.value+"&country=France&postalcode="+codePostal.value+"&street="+numero.value+" "+rue.value+"&limit=1&format=json")
                .then(async (response) => {
                    const data = await response.json();
                    console.log(data)
                    const long = data[0].lon
                    const lat = data[0].lat
                    latitude.value = lat;
                    longitude.value = long;
            }); 
        })
    })

</script>
{% endblock %}
