{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/memorial.css') }}">
{% endblock %}

{% block body %}

<div class="container-page moderation">
    {% include '_partials/_moderateurnav.html.twig' %}
    <main class="main-administration">
        <h1 id="memorial-title">Commentaire</h1>     

        <a href="{{ path('app_moderateur_comment_remove', {'id': commentaire.id}) }}">Supprimer le commentaire</a>

        {% if commentaire.reports| length > 0 %}
            <a href="{{ path('app_moderateur_commentaire_remove_reports', {'id': commentaire.id}) }}">Supprimer les signalements</a>
        {% endif %}

        <p>{{ commentaire.texte|raw }}</p>          


        {{ form_start(formEditCommentaire) }}
        {{ form_end(formEditCommentaire) }}  
    </main>

</div>
{% endblock %}
