{% extends 'base.html.twig' %}

{% block title %}Ajout mémorial{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/api_lieu.js')}}"></script>
{% endblock %}

{% block body %}

<div class="container-page">

    <h3>Création d'un mémorial</h3>

    {{ form_start(formAddMemorial) }}    
        {{ form_row(formAddMemorial.nom) }}
        {{ form_row(formAddMemorial.sexe) }}
        {{ form_row(formAddMemorial.dateNaissance) }}
        {{ form_row(formAddMemorial.dateDeces) }}
        <div id="form-lieu">
            {{ form_row(formAddMemorial.lieu) }}            
        </div>
        {{ form_row(formAddMemorial.imgMemorial) }}
        {{ form_row(formAddMemorial.presentation) }}
        {{ form_row(formAddMemorial.chosesAimees) }}
        {{ form_row(formAddMemorial.chosesDetestees) }}
        {{ form_row(formAddMemorial.histoire) }}
        {{ form_row(formAddMemorial.categorieAnimal) }}
    {{ form_end(formAddMemorial) }}

</div>

{% endblock %}
