{% extends 'base.html.twig' %}

{% block title %}
    {% if edit == false %}
        Création d'un mémorial
    {% else %}
        Edition du mémorial
    {% endif %}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/api_lieu.js')}}"></script>
{% endblock %}

{% block body %}
<div class="container-page">

    {% if edit == false %}
        <h1>Création d'un mémorial</h1>
    {% else %}
         <h1>Edition du mémorial</h1>
    {% endif %}

    <div class="formulaire">
    {{ form_start(formAddMemorial) }}    
        <div class="form-element">
            {{ form_row(formAddMemorial.nom) }}            
        </div>
        <div class="form-element">
            {{ form_row(formAddMemorial.sexe) }}            
        </div>
        <div class="form-element">
            {{ form_row(formAddMemorial.dateNaissance) }}            
        </div>
        <div class="form-element">
            {{ form_row(formAddMemorial.dateDeces) }}            
        </div>
        <div id="form-lieu" class="form-element">
            {{ form_row(formAddMemorial.lieu) }}            
        </div>
        <div class="form-element">
            {{ form_row(formAddMemorial.imgMemorial) }}            
        </div>
        <div class="form-element">
            {{ form_row(formAddMemorial.presentation) }}
        </div>
        <div class="form-element">
            {{ form_row(formAddMemorial.chosesAimees) }}
        </div>
        <div class="form-element">
            {{ form_row(formAddMemorial.chosesDetestees) }}
        </div>
        <div class="form-element">
            {{ form_row(formAddMemorial.histoire) }}
        </div>
        <div class="form-element">
            {{ form_row(formAddMemorial.categorieAnimal) }}
        </div>
        <div class="form-element">
            {{ form_row(formAddMemorial.submit) }}
        </div>
    {{ form_end(formAddMemorial) }}  
    </div>
</div>
{% endblock %}
