{% extends 'base.html.twig' %}

{% block title %}Ajout mémorial{% endblock %}


{% block javascripts %}
    <script>
        /* Une fois que les éléments de la page sont chargés, le code JavaScript peut s'exécuter */
        window.addEventListener('DOMContentLoaded', (event) => {
            var inputLieu = document.querySelector('#memorial_lieu');
                    
            /* il vaut mieux utiliser l'évènement input que les events keyboard, car les events keyboard risquent de ne pas
            détecter les touches d'un clavier tactile (tablette / mobile), ni la reconnaissance vocale */
            inputLieu.addEventListener("input", (event) => {
                event.preventDefault();
                removeListe();       
                getInfos();
            })

            function getInfos(){
                // S'il n'y a pas de valeur on ne return rien, et les éléments au bas de la fonction ne s'exécutent pas
                if(inputLieu.value == '') return;                     
                fetch("https://geo.api.gouv.fr/communes?nom="+inputLieu.value+"&fields=departement&limit=5")
                // On crée une variable réponse par rapport aux éléments du dessus, qui va être transformée en json
                .then( (response) => response.json())
                // On donne un nom de variable pour récupérer les données
                .then( (data)=> {
                    
                var liste = document.createElement("ul");
                liste.id = "autocomplete-list"
                inputLieu.appendChild(liste)                          

                    data.forEach(ville => {
                        let listItem = document.createElement("li")
                        let listItemButton = document.createElement("button")
                        listItemButton.innerHTML = ville.nom +" ("+ ville.departement.code +"-"+ ville.departement.nom+")"
                        console.log(listItemButton.innerHTML)
                        listItemButton.addEventListener("click", clickListItemButton)                  
                        listItem.appendChild(listItemButton)
                        liste.appendChild(listItem)                        
                    });
                document.querySelector("#form-lieu").appendChild(liste)
                })  
       
            }

            function removeListe(){
                var liste = document.querySelector("#autocomplete-list")
                // Si la liste existe, on la retire du document
                if(liste){
                    liste.remove();
                }
            }

            function clickListItemButton(e){
                // preventDefault permet d'enlever le comportement par défaut du déclencheur de l'event (ici, le bouton) : il ne submit donc rien
                e.preventDefault;
                // On récupère ce qui a actionnée l'event => c'est le listItemButton
                const listButton = e.target;
                inputLieu.value = listButton.innerHTML;
                removeListe();
            }
        })
    </script>
{% endblock %}

{% block body %}

<div class="container-page">

    <h3>Création d'un mémorial</h3>

    {{ form_start(formAddMemorial) }}    
        {{ form_row(formAddMemorial.nom) }}
        {{ form_row(formAddMemorial.sexe) }}
        {{ form_row(formAddMemorial.dateNaissance) }}
        {{ form_row(formAddMemorial.dateDeces) }}
        <div id="form-lieu">
            {{ form_row(formAddMemorial.lieu) }}            
        </div>
        {{ form_row(formAddMemorial.imgMemorial) }}
        {{ form_row(formAddMemorial.presentation) }}
        {{ form_row(formAddMemorial.chosesAimees) }}
        {{ form_row(formAddMemorial.chosesDetestees) }}
        {{ form_row(formAddMemorial.histoire) }}
        {{ form_row(formAddMemorial.categorieAnimal) }}
    {{ form_end(formAddMemorial) }}

</div>

{% endblock %}
