{% extends 'base.html.twig' %}

{% block title %}Mémoriaux{% endblock %}

{# {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/memorial.css') }}">
{% endblock %} #}

{% block body %}

<div class="container-page js-filter">
    <section id="categories">
        {# Voir pour mettre juste les 3 catégories et les mettre en sous-menu pour enlever cette section #}
        <ul class="categorie-elements"></ul>        
            {% for categorie in categories %}
                <li>
                    <a href="{{path('app_categorie', {'id' : categorie.id}) }}">{{ categorie.nom }}</a>                    
                </li>
            {% endfor %}
        </ul>        
    </section>
    <section class="interraction">
        {% if app.user and app.user.isVerified %}
            <a href="{{ path('add_memorial') }}">Créer un mémorial</a>
        {% elseif app.user and not app.user.isVerified %}
            <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir créer un mémorial</p>
        {% else %}
            <p>Veuillez vous inscrire ou vous connecter pour pouvoir créer un mémorial</p>
        {% endif %}
            <a class="search-link" href="#">Rechercher un mémorial <i class="fa-solid fa-magnifying-glass"></i></a>
    </section>
    <div class="recherche">
        {% include '_partials/_filter.html.twig' with {formSearch:formSearch} only %}
    </div>
    {% include '_partials/_memoriaux.html.twig' %}            
    <div class="pagination js-filter-pagination">
        {% include '_partials/_pagination.html.twig'  %}
    </div>
</div>
{% endblock %}
