{% extends 'base.html.twig' %}

{% block title %}Mémoriaux{% endblock %}

{# {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/memorial.css') }}">
{% endblock %} #}

{% block body %}

<div class="container-page js-filter page-memoriaux">
    <section class="banniere-memoriaux">
        <h1>Les mémoriaux</h1>
    </section>
    <section id="categories">
        {# Voir pour mettre juste les 3 catégories et les mettre en sous-menu pour enlever cette section #}
        <ul class="categorie-elements"></ul>        
            {% for categorie in categories %}
                <li>
                    <a href="{{path('app_categorie', {'id' : categorie.id}) }}">{{ categorie.nom }}</a>                    
                </li>
            {% endfor %}
        </ul>        
    </section>
    <section class="interraction">
        {% if app.user and app.user.isVerified %}
            <a class="link-recherche" href="{{ path('add_memorial') }}">Créer un mémorial</a>
        {% elseif app.user and not app.user.isVerified %}
            <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir créer un mémorial</p>
        {% else %}
            <p>Veuillez vous <a href="{{ path('app_register') }}">inscrire</a> ou vous <a href="{{ path('app_login') }}">connecter</a> pour pouvoir créer un mémorial</p>
        {% endif %}
            {# <a class="search-link" href="#">Rechercher un mémorial <i class="fa-solid fa-magnifying-glass"></i></a> #}
            <a class="link-recherche" href="{{ path('app_memoriaux_recherche') }}">Rechercher un mémorial <i class="fa-solid fa-magnifying-glass"></i></a>
    </section>
    <section id="nous-pensons-a-eux">
        {% if souvenirs != null %}
        {% set month = 'now'|date('F')|format_datetime(locale='fr',pattern="MMMM") %}        
        <h2>Ils ont rejoint les étoiles un mois de {{ month }}</h2>    

    
        <div class="container-memoriaux">
            {% for souvenir in souvenirs %}
            <div class="memorial-month-card">
                <a href="{{path('show_memorial', {'id': souvenir.id}) }}">
                    <figure>
                        {% if souvenir.photo != null %}
                            <img src="{{ asset('uploads/imgMemorial/'~ souvenir.photo) }}" alt="photo de l'animal">   
                        {% else %}
                            <img src="{{ asset('img/angel_dog.jpg') }}" alt="photo de l'animal">
                        {% endif %}
                        {# <img src="{{ asset('uploads/imgMemorial/'~ memorial.photo) }}" alt="photo de l'animal">    #}
                    </figure>       
                    <p>{{ souvenir.nom|slice(0, 20) }}...</p>          
                </a>
            </div>
            {% endfor %}    
        </div>
        {% endif %}
    </section>
    <h2>Mémoriaux</h2>
    {# <div class="recherche">
        {% include '_partials/_filter.html.twig' with {formSearch:formSearch} only %}
    </div> #}
    {% include '_partials/_memoriaux.html.twig' %}            
    <div class="pagination js-filter-pagination">
        {% include '_partials/_pagination.html.twig'  %}
    </div>
</div>
{% endblock %}
