{% extends 'base.html.twig' %}

{% block title %}Mémoriaux{% endblock %}

{% block body %}

<div class="container-page">

    <div id="categories">
        {% for categorie in categories %}
        <div class="categorie">
            <a href="{{path('app_categorie', {'id' : categorie.id}) }}">{{ categorie.nom }}</a>
        </div>
    {% endfor %}
    </div>

    {% for memorial in listeMemoriaux %}
        <div class="memorial">
            <p>{{ memorial.nom }}</p>
            {% if memorial.photo == null %}
                <p>Pas de photo</p>
            {% else %}
                <p>{{ memorial.photo }}</p>
            {% endif %}
            {# le filtre slice permet d'afficher un certain nombre de caractères => Ici, on prend du caractère 0 à 20 #}
            <p>{{ memorial.presentation|slice(0, 20) }}...</p>
            <a href="{{path('show_memorial', {'id': memorial.id}) }}">Voir le profil</a>
        </div>
    {% endfor %}

</div>

{% endblock %}
