{% extends 'base.html.twig' %}

{% block title %}{{ categorie.nom }}{% endblock %}

{% block body %}

{# Vérifier le nom de catégorie, et, selon cela, applqiuer un fond / benniere différents #}

<div class="container-page js-filter">
    <section id="banniere-memoriaux">
        <h1>Les mémoriaux des {{ categorie.nom }}</h1>
    </section>
    {# Fil d'ariane #}
    <p><a href="{{ path('app_memoriaux') }}">Mémoriaux</a> &lt; {{ categorie.nom }}</p>
    <section class="interraction">
        {% if app.user and app.user.isVerified %}
            <a href="{{ path('add_memorial') }}">Créer un mémorial</a>
        {% elseif app.user and not app.user.isVerified %}
            <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir créer un mémorial</p>
        {% else %}
            <p>Veuillez vous inscrire ou vous connecter pour pouvoir créer un mémorial</p>
        {% endif %}
            {# <a class="search-link" href="#">Rechercher un mémorial <i class="fa-solid fa-magnifying-glass"></i></a> #}
            <a href="{{ path('app_memoriaux_recherche') }}">Rechercher un mémorial <i class="fa-solid fa-magnifying-glass"></i></a>
    </section>
    <section class="memoriaux js-filter-content">
        {% include '_partials/_memoriauxCategorie.html.twig'  %}
    </section>
    <div class="pagination js-filter-pagination">
        {% include '_partials/_pagination.html.twig'  %}
    </div>
</div>
{% endblock %}
