{% extends 'base.html.twig' %}

{% block title %}{{ categorie.nom }}{% endblock %}

{% block body %}

<div class="container-page js-filter">

    <section id="categorie">
        {{ categorie.nom }}        
    </section>

    <section class="creation">
        {% if app.user and app.user.isVerified %}
            <a href="{{ path('add_memorial') }}">Créer un mémorial</a>
        {% elseif app.user and not app.user.isVerified %}
            <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir créer un mémorial</p>
        {% else %}
            <p>Veuillez vous inscrire ou vous connecter pour pouvoir créer un mémorial</p>
        {% endif %}        
    </section>
    <div class="recherche">
        {{ form_start(formSearch, {attr: {class: 'js-filter-form'}}) }}
            {{ form_widget(formSearch.q, {attr: {'placeholder': 'Rechercher un mémorial dans la catégorie'}}) }}
            {{ form_widget(formSearch.categories, {'attr': {'style': 'display:none'}}) }}
            {{ form_row(formSearch.sexe) }}
            {{ form_row(formSearch.anneeDeces) }}
            {{ form_row(formSearch.moisDeces) }}
            {# {{ form_row(formSearch.submit) }}         #}
        {{ form_end(formSearch) }}
    </div>
    <section class="memoriaux js-filter-content">
        {% include '_partials/_memoriauxCategorie.html.twig'  %}
    </section>
    <div class="pagination js-filter-pagination">
        {% include '_partials/_pagination.html.twig'  %}
    </div>
</div>
{% endblock %}
