{% extends 'base.html.twig' %}

{% block title %}{{ memorial.nom }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/memorial.css') }}">
{% endblock %}

{% block body %}

<div class="container-page js-refresh-page page-memorial">
    {% if consultedInCategorie == true %}
        <p><a href="{{ path('app_memoriaux') }}">Mémoriaux</a> &lt; <a href="{{path('app_categorie', {'id' : memorial.categorieAnimal.id}) }}">{{ memorial.categorieAnimal }}</a> &lt; {{ memorial.nom }}</p>
        <a class="report" href="{{ path('app_report_memorial_categorie', {'id': memorial.id, 'idCategorie': memorial.categorieAnimal.id}) }}"><i class="fa-solid fa-flag"></i></a>        
    {% else %}
        <p><a href="{{ path('app_memoriaux') }}">Mémoriaux</a> &lt; <a href="{{path('app_categorie', {'id' : memorial.categorieAnimal.id}) }}">{{ memorial.nom }}</a></p>
        <a class="report" href="{{ path('app_report_memorial', {'id': memorial.id}) }}"><i class="fa-solid fa-flag"></i></a>    
    {% endif %}

    <h1 id="memorial-title">En mémoire de {{ memorial.nom }}</h1>     
    <section id="header-memorial">
        <figure>
            <img src="{{ asset('uploads/imgMemorial/'~ memorial.photo) }}" alt="photo de l'animal">       
        </figure>     
        <div id="memorial-infos">
                <h2>Informations</h2>
                <p>
                    Date de naissance : {{ memorial.dateNaissance | date('d-m-Y') }}                
                </p>
                <p>
                    A rejoint les étoiles le {{ memorial.dateNaissance | date('d-m-Y') }}                
                </p>
                <p>
                    {% if memorial.lieu != null %}
                        Lieu de vie : {{ memorial.lieu }}  
                    {% else %} 
                        Lieu de vie : non renseigné  
                    {% endif %}
                </p>    
                {% if memorial.auteur != null %}
                    <p>Mémorial créé par <a href="{{ path('show_profile', {'id': memorial.auteur.id}) }}">{{ memorial.auteur }}</a></p>
                {% else %}
                    <p>Mémorial créé par Utilisateur supprimé</p>
                {% endif %}              
            {% include "_partials/_showSoutient.html.twig" %}
        </div>            
    </section>
    

    <section id="memorial">
        <div id="memorial-presentation">
            <h2>Présentation</h2>
            <p>
                {{ memorial.presentation|raw }}
            </p>            
        </div>
        <div id="memorial-choses-aimees">
            <h2>Choses Aimées</h2>
            <p>
                {{ memorial.chosesAimees|raw }}                
            </p>            
        </div>
        <div id="memorial-choses-detestees">
            <h2>Choses détestées</h2>
            <p>
                {{ memorial.chosesDetestees|raw }}                
            </p>            
        </div>
        <div id="memorial-notre-histoire">
            <h2>Notre histoire</h2>
            <p>
                {{ memorial.histoire|raw }}                   
            </p>
        </div>

        {# {% if memorial.auteur != null %}
            {% if app.user == memorial.auteur or app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                <a href="{{path('remove_memorial', {'id': memorial.id}) }}">Supprimer le mémorial</a>
            {% endif %}
        {% endif %} #}
    </section>


    <section id='galerie-photo'>
        <h2>Galerie photo</h2>

        <div id="container-photos">
            {% if memorial.auteur != null %}
                {% if app.user == memorial.auteur or app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                    <div id="ajout-photo">
                        <p>Ajouter des photos à la galerie <i class="fa-solid fa-file-circle-plus"></i></p>                  
                    </div>
                    <div id="form-photo">
                        <a class="close-form" href="#"><i class="fa-solid fa-xmark"></i></a>
                        {{ form_start(formAddPhotoGalerie) }}  
                            <div class="custom-errors">
                                {{ form_errors(formAddPhotoGalerie.images) }}
                            </div>  
                        {{ form_end(formAddPhotoGalerie) }}                    
                    </div>
                {% endif %}
            {% endif %}

            <div id="container-img-galerie">
            {% if memorial.photos|length > 0 %}                
                {% for image in memorial.photos %}
                    <div class="image-galerie">
                        <figure>
                            <img src="{{ asset('uploads/imgGalerie/'~ image.photo) }}" alt="photo de l'animal">     
                            {% if memorial.auteur != null %}
                                {% if app.user == memorial.auteur or app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                                    {% if consultedInCategorie == true %}
                                        <a class="suppr-img" href="{{path('remove_photo_categorie', {'idMemorial': memorial.id, 'id': image.id, 'idCategorie': memorial.categorieAnimal.id}) }}"><i class="fa-solid fa-trash"></i></a>
                                    {% else %}
                                        <a class="suppr-img" href="{{path('remove_photo', {'idMemorial': memorial.id, 'id': image.id}) }}"><i class="fa-solid fa-trash"></i></a>
                                    {% endif %}

                                {% endif %}
                            {% endif %}                                               
                        </figure>

                    </div>
                {% endfor %}   
            {% else %} 
                    <p>La galerie ne contient aucune photo pour le moment</p>
            {% endif %}                              
            </div>


        </div>
    </section>
    <section id="condoleances">
        <h2>Condoléances</h2>
        {% if app.user %}
        <div id="ajout-message">
            <p >Ajouter un message de condoléances <i class="fa-solid fa-pen"></i></p>
        </div>

            <div id="container-form-condoleances">
                <a class="close" href="#"><i class="fa-solid fa-xmark"></i></a>
                {% include '_partials/_refreshForm.html.twig' %}                  
            </div>

        {% endif %}
        {% include '_partials/_condoleances.html.twig' %} 
    </section>
</div>
{% endblock %}
