{% extends 'base.html.twig' %}

{% block title %}{{ memorial.nom }}{% endblock %}

{% block body %}

<div class="container-page">

    {{ memorial.nom }}

    {{ memorial.dateNaissance | date('m-d-Y') }}

    {{ memorial.presentation }}

    {{ memorial.chosesAimees }}

    {{ memorial.chosesDetestees }}

    {{ memorial.histoire }}

</div>
{% endblock %}
