{% extends 'base.html.twig' %}

{% block title %}{{ memorial.nom }}{% endblock %}

{% block body %}

<div class="container-page">

    <section id="memorial-infos">
        <img src="{{ asset('uploads/imgMemorial/'~ memorial.photo) }}" alt="photo de l'animal">

        {{ memorial.nom }}

        {{ memorial.dateNaissance | date('m-d-Y') }}

        {{ memorial.presentation }}

        {{ memorial.chosesAimees }}

        {{ memorial.chosesDetestees }}

        {{ memorial.histoire }}        
    </section>
    <section id='galerie-photo'>

        <h3>Ajouter une photo à la galerie</h3>
        {{ form_start(formAddPhotoGalerie) }}    
        {{ form_end(formAddPhotoGalerie) }}

        {% for image in memorial.photos %}
            <div class="image-galerie">
                    <img src="{{ asset('uploads/imgGalerie/'~ image.photo) }}" alt="photo de l'animal">
            </div>
        {% endfor %}


    </section>


</div>
{% endblock %}
