{% extends 'base.html.twig' %}

{% block title %}{{ memorial.nom }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/memorial.css') }}">
{% endblock %}

{% block body %}

<div class="container-page">
    <section id="memorial">
        <div id="memorial-infos">
            <h1>{{ memorial.nom }}</h1>
            <figure>
                <img src="{{ asset('uploads/imgMemorial/'~ memorial.photo) }}" alt="photo de l'animal">       
            </figure>        
            {% if app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                {% if memorial.auteur != null %}
                    <a href="{{ path('show_profile', {'id': memorial.auteur.id}) }}">{{ memorial.auteur }}</a>
                {% else %}
                    <p>Utilisateur supprimé</p>
                {% endif %}
            {% endif %}
            <p>
                {{ memorial.dateNaissance | date('d-m-Y') }}                
            </p>
            <p>
              {{ memorial.lieu }}   
            </p>      
        </div>
        {% include "_partials/_showSoutient.html.twig" %}
        <div id="memorial-description">
            <h2>Présentation</h2>
            <p>
                {{ memorial.presentation|raw }}
            </p>
            <h2>Choses Aimées</h2>
            <p>
                {{ memorial.chosesAimees|raw }}                
            </p>
            <h2>Choses détestées</h2>
            <p>
                {{ memorial.chosesDetestees|raw }}                
            </p>
            <h2>Notre histoire</h2>
            <p>
                {{ memorial.histoire|raw }}                   
            </p>
        </div>
        {% if memorial.auteur != null %}
            {% if app.user == memorial.auteur or app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                <a href="{{path('remove_memorial', {'id': memorial.id}) }}">Supprimer le mémorial</a>
            {% endif %}
        {% endif %}
    </section>

    <section id='galerie-photo'>
        <h2>Galerie photo</h2>

        <div id="container-photos">
            {% if memorial.auteur != null %}
                {% if app.user == memorial.auteur or app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                    <h4>Ajouter une photo à la galerie</h4>
                    {{ form_start(formAddPhotoGalerie) }}    
                    {{ form_end(formAddPhotoGalerie) }}
                {% endif %}
            {% endif %}

            {% for image in memorial.photos %}
                <div class="image-galerie">
                    <figure>
                        <img src="{{ asset('uploads/imgGalerie/'~ image.photo) }}" alt="photo de l'animal">                        
                    </figure>
                    {% if memorial.auteur != null %}
                        {% if app.user == memorial.auteur or app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                            <a href="{{path('remove_photo', {'idMemorial': memorial.id, 'id': image.id}) }}">Supprimer la photo</a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}            
        </div>
    </section>
</div>
{% endblock %}
