{% extends 'base.html.twig' %}

{% block title %}{{ memorial.nom }}{% endblock %}

{% block body %}

<div class="container-page">

    <section id="memorial-infos">
        <img src="{{ asset('uploads/imgMemorial/'~ memorial.photo) }}" alt="photo de l'animal">

        {% if app.user and app.user.roles.0 == "ROLE_ADMIN" %}
            <a href="{{ path('show_profile', {'id': memorial.auteur.id}) }}">{{ memorial.auteur }}</a>
        {% endif %}

        {{ memorial.nom }}

        {{ memorial.dateNaissance | date('d-m-Y') }}

        {{ memorial.lieu }}

        {{ memorial.presentation }}

        {{ memorial.chosesAimees }}

        {{ memorial.chosesDetestees }}

        {{ memorial.histoire }}    
        
        {% if app.user == memorial.auteur or app.user and app.user.roles.0 == "ROLE_ADMIN" %}
            <a href="{{path('remove_memorial', {'id': memorial.id}) }}">Supprimer le mémorial</a>
        {% endif %}
  
    </section>
    <section id='galerie-photo'>

        <h3>Galerie photo</h3>

        {% if app.user == memorial.auteur or app.user and app.user.roles.0 == "ROLE_ADMIN" %}
            <h4>Ajouter une photo à la galerie</h4>
            {{ form_start(formAddPhotoGalerie) }}    
            {{ form_end(formAddPhotoGalerie) }}
        {% endif %}

        {% for image in memorial.photos %}
            <div class="image-galerie">
                    <img src="{{ asset('uploads/imgGalerie/'~ image.photo) }}" alt="photo de l'animal">
                    {% if app.user == memorial.auteur or app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                        <a href="{{path('remove_photo', {'idMemorial': memorial.id, 'id': image.id}) }}">Supprimer la photo</a>
                    {% endif %}
            </div>
        {% endfor %}


    </section>


</div>
{% endblock %}
