{% extends 'base.html.twig' %}

{% block title %}
    {% if edit == false %}
        Création d'une belle histoire
    {% else %}
        Edition de l'histoire
    {% endif %}
{% endblock %}

{% block body %}

<div class="container-page form-page">



    <div class="formulaire" id="form-histoire">
        {% if edit == false %}
            <h1>Création d'une belle histoire</h1>
        {% else %}
            <h1>Edition de l'histoire</h1>
        {% endif %}        
        {{ form_start(formAddHistoire) }}  
            <div class="custom-errors">
                {{ form_errors(formAddHistoire.titre) }}
            </div>
            <div class="form-element">
                {{ form_row(formAddHistoire.titre) }} 
            </div>
            <div class="custom-errors">
                {{ form_errors(formAddHistoire.texte) }}
            </div>       
            <div class="form-element">
                {{ form_row(formAddHistoire.texte) }} 
            </div>
            <div class="custom-errors">
                {{ form_errors(formAddHistoire.imgHistoire) }}
            </div>
            <div class="form-element">
                {{ form_row(formAddHistoire.imgHistoire) }} 
            </div>
            <div class="form-element">
                {{ form_row(formAddHistoire.genre) }} 
            </div>
            <div class="form-element">
                {{ form_row(formAddHistoire.submit) }} 
            </div>
        {{ form_end(formAddHistoire) }}        
    </div>


</div>
{% endblock %}
