{% extends 'base.html.twig' %}

{% block title %}{{histoire.titre}}{% endblock %}

{% block body %}

<div class="container-page">
    <article id="histoire">
        <header>
            <h1>{{histoire.titre}}</h1>
            {% if histoire.photo == null %}
                <p>Pas de photo</p>
            {% else %}
            <figure>
                {# <img src="{{ asset('uploads/imgHistoire/'~ histoire.photo) }}" alt="photo de l'histoire">             #}
            </figure>
            {% endif %}
            <p>Date de création {{ histoire.dateCreation | date('d-m-Y') }}</p>
        </header>
        <section id="histoire-texte">
            <p>{{ histoire.texte }}</p>
            {% if histoire.auteur != null %}
                {% if app.user == histoire.auteur or app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                    <a href="{{ path('remove_histoire', {'id': histoire.id}) }}">Supprimer l'histoire</a>
                    <a href="{{ path('edit_histoire', {'slug': histoire.slug}) }}">Edit l'histoire</a>
                {% endif %}
            {% endif %}
        </section>
        <section id="comment-histoire">
            <h2>Commentaires</h2>
            {% for commentaire in histoire.commentaires %}
                <article class="commentaire">
                    <p>{{ commentaire.texte|raw }} 
                    <footer>
                        {% if commentaire.auteur != null %}
                            ({{ commentaire.auteur }})</p>
                        {% else %}
                            <p>(Utilisateur supprimé)</p>
                        {% endif %}
                        {% if app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                            <a href="{{ path('remove_comment', {'slug': histoire.slug, 'id': commentaire.id}) }}">Delete</a>
                        {% endif %}
                    </footer>
                </article>
            {% endfor %}    
        </section>             
        <section id="ajout-commentaire">
            <h2>Ajouter un commentaire</h2>        
            {% if app.user and app.user.isVerified %}
                <div class="formulaire">
                    {{ form_start(formAddComment) }}   
                    <div class="form-element">
                        {{ form_row(formAddComment.texte) }}
                    </div> 
                    <div class="form-element">
                        {{ form_row(formAddComment.submit) }}
                    </div>
                    {{ form_end(formAddComment) }}                        
                </div>
            {% elseif app.user and not app.user.isVerified %}
                <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir commenter</p>
            {% else %}
                <p>Veuillez vous inscrire ou vous connecter pour pouvoir commenter</p>
            {% endif %}            
        </section>      
    </article>
</div>
{% endblock %}
