{% extends 'base.html.twig' %}

{% block title %}Belles histoires{% endblock %}

{% block body %}

<div class="container-page">

    <section class="creation">
        {% if app.user and app.user.isVerified %}
            <a href="{{ path('add_histoire') }}">Créer une belle histoire</a>
        {% elseif app.user and not app.user.isVerified %}
            <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir créer une belle histoire</p>
        {% else %}
            <p>Veuillez vous inscrire ou vous connecter pour pouvoir créer une belle histoire</p>
        {% endif %}        
    </section>

    <section id="belles-histoires">
        <h1>Les belles histoires</h1>

        {% for histoire in listeHistoires %}
            <article class="histoire">
                <div class="histoire-left">
                    <h2>{{ histoire.titre }}</h2>
                    {% if histoire.photo == null %}
                    <p>Pas de photo</p>
                    {% else %}
                    <figure>
                        <img src="{{ asset('uploads/imgHistoire/'~ histoire.photo) }}" alt="photo de l'histoire">                    
                    </figure>
                    {% endif %}                    
                </div>
                <div class="histoire-right">
                    <p>{{ histoire.texte|slice(0, 100) }}...</p>
                    {% if histoire.auteur != null %}
                        <a href="#">
                            <p>{{ histoire.auteur }}</p>  
                        </a>
                    {% else %}
                        <p>Utilisateur supprimé</p>
                    {% endif %}

                    <a href="{{path('show_histoire', {'slug': histoire.slug}) }}">Voir l'histoire</a>                    
                </div>
            </article>
        {% endfor %}        
    </section>
</div>
{% endblock %}
