{% extends 'base.html.twig' %}

{% block title %}{{histoire.titre}}{% endblock %}

{% block body %}

<div class="container-page">
    <section id="histoire">
        <h2>{{histoire.titre}}</h2>
        {% if histoire.photo == null %}
            <p>Pas de photo</p>
        {% else %}
            <img src="{{ asset('uploads/imgHistoire/'~ histoire.photo) }}" alt="photo de l'histoire">
        {% endif %}
        <p>Date de création {{ histoire.dateCreation | date('d-m-Y') }}</p>
        <p>{{ histoire.texte }}</p>
        <a href="{{ path('remove_histoire', {'id': histoire.id}) }}">Supprimer l'histoire</a>
    </section>
    <section id="comment-histoire">
        <h4>Ajouter un commentaire</h4>
        {{ form_start(formAddComment) }}    
        {{ form_end(formAddComment) }} 

        {% for commentaire in histoire.commentaires %}
            <div class="commentaire">
                <p>{{ commentaire.texte }} ({{ commentaire.auteur }})</p>
                <a href="{{ path('remove_comment', {'idHistoire': histoire.id, 'id': commentaire.id}) }}">Delete</a>
            </div>
        {% endfor %}
    </section>

</div>
{% endblock %}
