{% extends 'base.html.twig' %}

{% block title %}{{histoire.titre}}{% endblock %}

{% block body %}

<div class="container-page">
    <article id="histoire">
        <header>
            <h2>{{histoire.titre}}</h2>
            {% if histoire.photo == null %}
                <p>Pas de photo</p>
            {% else %}
            <figure>
                <img src="{{ asset('uploads/imgHistoire/'~ histoire.photo) }}" alt="photo de l'histoire">            
            </figure>
            {% endif %}
            <p>Date de création {{ histoire.dateCreation | date('d-m-Y') }}</p>
        </header>
        <section id="histoire-texte">
            <p>{{ histoire.texte }}</p>
            {% if app.user == histoire.auteur or app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                <a href="{{ path('remove_histoire', {'id': histoire.id}) }}">Supprimer l'histoire</a>
                <a href="{{ path('edit_histoire', {'id': histoire.id}) }}">Edit l'histoire</a>
            {% endif %}
        </section>
        <section id="comment-histoire">
            <h3>Commentaires</h3>
            {% for commentaire in histoire.commentaires %}
                <article class="commentaire">
                    <p>{{ commentaire.texte }} 
                    <footer>
                        ({{ commentaire.auteur }})</p>
                        {% if app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                            <a href="{{ path('remove_comment', {'idHistoire': histoire.id, 'id': commentaire.id}) }}">Delete</a>
                        {% endif %}
                    </footer>
                </article>
            {% endfor %}    
        </section>             
        <section id="ajout-commentaire">
            <h4>Ajouter un commentaire</h4>        
            {% if app.user and app.user.isVerified %}
                <form>
                    {{ form_start(formAddComment) }}   
                    <div class="form-element">
                        {{ form_row(formAddComment.texte) }}
                    </div> 
                    <div class="form-element">
                        {{ form_row(formAddComment.submit) }}
                    </div>
                    {{ form_end(formAddComment) }}                        
                </form>
            {% elseif app.user and not app.user.isVerified %}
                <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir commenter</p>
            {% else %}
                <p>Veuillez vous inscrire ou vous connecter pour pouvoir commenter</p>
            {% endif %}            
        </section>      
    </article>
</div>
{% endblock %}
