{% extends 'base.html.twig' %}

{% block title %}{{histoire.titre}}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/belleHistoire.css') }}">
{% endblock %}

{% block body %}

<div class="container-page js-refresh-page">
    <section id="banniere-belle-histoire">
        <h1>{{ histoire.titre }}</h1>
    </section>
    {% if consultedInGenre == true %}
        <p class="fil-ariane"> <a href="{{ path('app_home') }}">Accueil</a> &lt; <a href="{{ path('app_belles_histoires') }}">Belles Histoires</a> &lt; <a href="{{path('app_belles_histoires_genre', {'id' : histoire.genre.id}) }}">{{ histoire.genre }}</a> &lt; {{ histoire.titre }}</p>    
    {% else %}
        <p class="fil-ariane"> <a href="{{ path('app_home') }}">Accueil</a> &lt; <a href="{{ path('app_belles_histoires') }}">Belles Histoires</a> &lt; {{ histoire.titre }}</p>
    {% endif %}
    {% if histoire.reports |length > 0 %}
        {% for report in app.user.reportedHistoires %}
                {% if (report.histoire == histoire) and (app.user == report.signaleur) %}
                        <a class="report-flag" href="{{ path('app_report_histoire', {'id': histoire.id}) }}"><i class="fa-solid fa-flag flag-report-icon reported"></i></a> 
                {% endif %}
        {% endfor %}
    {% else %}
            <a class="report-flag" href="{{ path('app_report_histoire', {'id': histoire.id}) }}"><i class="fa-solid fa-flag flag-report-icon unreported"></i></a> 
    {% endif %}
    <article id="histoire">
        <section id="histoire-content">
            <div id="histoire-content-header">
                {# {% if histoire.photo == null %}
                    <p>Pas de photo</p>
                {% else %}
                <figure>
                    <img src="{{ asset('uploads/imgHistoire/'~ histoire.photo) }}" alt="photo de l'histoire">            
                </figure>
                {% endif %} #}
                {% if histoire.auteur == 'Antoine' %}
                <figure>
                    <img src="{{histoire.photo}}" alt="photo de l'histoire">            
                </figure>
                {% else %}
                    <figure>
                        <img src="{{ asset('uploads/imgHistoire/'~ histoire.photo) }}" alt="photo de l'histoire">            
                    </figure>
                {% endif %}
                <p>Date de création {{ histoire.dateCreation | date('d-m-Y') }}</p>
                </div>
            <div id="histoire-texte">
                <p>{{ histoire.texte|raw }}</p>
                {% if histoire.auteur != null %}
                    {% if app.user == histoire.auteur or app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                        <a href="{{ path('remove_histoire', {'id': histoire.id}) }}">Supprimer l'histoire</a>
                        <a href="{{ path('edit_histoire', {'slug': histoire.slug}) }}">Edit l'histoire</a>
                    {% endif %}
                {% endif %}
                <div id="histoire-interraction">
                    {% include "_partials/_favorisHistoire.html.twig" %}            
                    {% include "_partials/_share.html.twig" %}
                    {% include "_partials/_likeHistoire.html.twig" %}                     
                </div>            
            </div>            
        </section>


        <section id="histoire-ajout-commentaires">
            {% if app.user and app.user.isVerified %}            
                <a id="ajout-commentaire" href="#">
                    <div>
                        <figure>
                            {% if not app.user.photo %}
                                <img src="{{ asset('img/default_user.png') }}" alt="">
                            {% else %}
                                <img src="{{ asset('uploads/imgUserProfil/'~ app.user.photo) }}" alt="">   
                            {% endif %} 
                        </figure>
                        <p> {{ app.user.pseudo }} que pensez-vous de cette histoire ?</p>                    
                    </div>
                </a>
                <div id="ajout-commentaire-form"> 
                    <div id="form-comment-infos">
                            <figure>
                            {% if not app.user.photo %}
                                <img src="{{ asset('img/default_user.png') }}" alt="">
                            {% else %}
                                <img src="{{ asset('uploads/imgUserProfil/'~ app.user.photo) }}" alt="">   
                            {% endif %} 
                            </figure>
                            <p> {{ app.user.pseudo }} que pensez-vous de cette histoire ?</p>   
                    </div>
                    <div class="formulaire">
                        <a class="close" href="#"><i class="fa-solid fa-xmark"></i></a>
                        {{ form_start(formAddComment, {attr: {class: 'js-submit-form'}}) }}   
                        <div class="custom-errors">
                            {{ form_errors(formAddComment.texte) }}
                        </div>
                        <div class="form-element">
                            {{ form_row(formAddComment.texte) }}
                        </div> 
                        <div class="form-element form-submit-comment">
                            {{ form_row(formAddComment.submit) }}
                        </div>
                        {{ form_end(formAddComment) }}                        
                    </div>
                </div>                       
            {% elseif app.user and not app.user.isVerified %}
                <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir commenter</p>
            {% elseif not app.user %}
                <p>Veuillez vous <a href="{{ path('app_register') }}">inscrire</a> ou vous <a href="{{ path('app_login') }}">connecter</a> pour pouvoir créer une belle histoire</p>
            {% endif %}            
        </section>
        <section id="comment-histoire" class="js-auto-refresh-content delete-report">
            <h2>Commentaires</h2>           
            {% include "_partials/_commentaires.html.twig" %}
        </section>             
    </article>
    <section id="autres-histoires">
        <h2>Vous pourriez également apprécier</h2>
        <div id="container-histoires">
            {% for histoire in autresHistoires %}
                <article class="belle-histoire-card">
                    <div class="hr-media">
                        <figure>
                            <img src="{{ asset('uploads/imgHistoire/'~ histoire.photo) }}" alt="photo de l'histoire"> 
                        </figure>
                    </div>
                    <div class="hr-content">
                        <div class="hr-infos">
                            <p>{{ histoire.genre }}</p>
                            <p>{{ histoire.dateCreation|date('d-m-Y') }}</p>
                            <p>{{ histoire.howManyLikes}} <i class="fa-solid fa-paw"></i></p>
                        </div>
                        <div class="hr-texte">
                            <h3><a href="{{path('show_histoire', {'slug': histoire.slug}) }}">{{ histoire.titre }}</a></h3>
                            <p>{{ histoire.texte|slice(0, 80) }}...</p>
                        </div>
                        <div class="hr-auteur">
                            <figure>
                                <img src="" alt="">
                            </figure>
                            <p>Auteur : {{ histoire.auteur }}</p>
                        </div>
                    </div>
                    <div class="share-content">
                        <i class="fa-solid fa-share-nodes"></i>
                    </div>
                </article>
            {% endfor %}        
        </div>
    </section>
</div>
{% endblock %}
