{% extends 'base.html.twig' %}

{% block title %}Belles histoires{% endblock %}

{% block body %}

<div class="container-page page-belles-histoires">
    <section id="banniere-belles-histoires">
        <h1>Les belles histoires</h1>        
    </section>
    <section id="genres-histoires">
        {% for genre in genres %}
            <a href="{{ path('app_belles_histoires_genre', {'id': genre.id}) }}">{{ genre.nom }}</a>
        {% endfor %}
    </section>    
    <section class="creation">
        {% if app.user and app.user.isVerified %}
            <a href="{{ path('add_histoire') }}">Créer une belle histoire</a>
        {% elseif app.user and not app.user.isVerified %}
            <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir créer une belle histoire</p>
        {% else %}
            <p>Veuillez vous <a href="{{ path('app_register') }}">inscrire</a> ou vous <a href="{{ path('app_login') }}">connecter</a> pour pouvoir créer une belle histoire</p>
        {% endif %}        
    </section>

    <section id="belles-histoires">
        <div id="container-histoires">
            {% for histoire in listeHistoires %}
                <article class="belle-histoire-card">
                    <div class="hr-media">
                        <figure>
                            {% if histoire.auteur.id != 416 %}
                            <img src="{{ asset('uploads/imgHistoire/'~ histoire.photo) }}" alt="photo de l'histoire"> 
                            {% else %} 
                            <img src="{{histoire.photo}}" alt="photo de l'histoire"> 
                            {% endif %}
                        </figure>
                    </div>
                    <div class="hr-content">
                        <div class="hr-infos">
                            <p>{{ histoire.genre }}</p>
                            <p>{{ histoire.dateCreation|date('d-m-Y') }}</p>
                            <p>{{ histoire.howManyLikes}} <i class="fa-solid fa-paw"></i></p>
                        </div>
                        <div class="hr-texte">
                            <h3><a href="{{path('show_histoire', {'slug': histoire.slug}) }}">{{ histoire.titre }}</a></h3>
                            <p>{{ histoire.texte|slice(0, 80) }}...</p>
                        </div>
                        <div class="hr-auteur">
                            <figure>
                                <img src="" alt="">
                            </figure>
                            <p>Auteur : {{ histoire.auteur }}</p>
                        </div>
                    </div>
                    <div class="share-content">
                        <i class="fa-solid fa-share-nodes"></i>
                    </div>
                </article>
            {% endfor %}        
        </div>
    </section>
    <div class="pagination">
        {{ knp_pagination_render(listeHistoires) }}
    </div>
</div>
{% endblock %}
