{% extends 'base.html.twig' %}

{% block title %}Visualisation utilisateur{% endblock %}

{% block body %}

<div class="container-page administration">

    {% include '_partials/_adminnav.html.twig' %}
    <main class="main-administration">
        <h1>{{ user.pseudo }}</h1>

        <figure class="figure-element">
            {% if not user.photo %}
                <img src="{{ asset('img/default_user.png') }}" alt="">
            {% else %}
                <img src="{{ asset('uploads/imgUserProfil/'~ user.photo) }}" alt="">   
            {% endif %}             
        </figure>
    
        <a id="admin-supr-img-user" href="{{ path('app_admin_users_remove_photo', {'id': user.id}) }}">Supprimer la photo de profil</a>        

        {% if user.bannir == true %}
            <a class="manage-button" href="{{ path('ban_admin_user', {'id': user.id}) }}">Dé-bannir</a>
        {% else %}
            <a class="manage-button" href="{{ path('ban_admin_user', {'id': user.id}) }}">Bannir</a>
        {% endif %}

        <div class="formulaire" id="form-infos-profil">
            {{ form_start(formAddUser) }}
                <div class="custom-errors">
                    {{ form_errors(formAddUser.email) }}
                </div>
                <div class="form-element">
                    {{ form_row(formAddUser.email) }}         
                </div>
                <div class="custom-errors">
                    {{ form_errors(formAddUser.pseudo) }}
                </div>
                <div class="form-element">
                    {{ form_row(formAddUser.pseudo) }}
                </div>     
                <div class="custom-errors">
                    {{ form_errors(formAddUser.roles) }}
                </div>   
                <div class="form-element">
                    {{ form_row(formAddUser.roles) }}
                </div>
                <div class="form-element">
                    {{ form_row(formAddUser.submit) }}
                </div>
            {{ form_end(formAddUser) }}   
        </div>
    

    </main>        

</div>
{% endblock %}
