{% extends 'base.html.twig' %}

{% block title %}Genres{% endblock %}

{% block body %}

<div class="container-page administration">
        {% include '_partials/_adminnav.html.twig' %}
        <main class="main-administration">
            <h1>Liste des genres</h1>    
            <section id="ajout-genre">
                <h2>Ajouter un genre</h2>

                <div class="formulaire">
                    {{form_start(formAddGenre)}}
                        <div class="form-element">
                            {{ form_row(formAddGenre.nom) }}
                        </div>
                        <div class="form-element">
                            {{ form_row(formAddGenre.submit) }}
                        </div>
                    {{form_end(formAddGenre)}}              
                </div>
            </section>          
            <section id="categories-liste">
                <table>
                    <tr>
                        <th>Nom</th>
                        <th>Action</th>
                    </tr>
                {% for genre in genres %}
                    <tr class="genre">
                        <td>
                            <p>{{ genre.nom }}</p>  
                        </td>
                        <td>
                            <a href="#">Supprimer</a>                             
                        </td>
                    </tr>
                {% endfor %}    
                </table>    
            </section> 
        </main>
     
</div>
{% endblock %}