{% extends 'base.html.twig' %}

{% block title %}{{ histoire.titre }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/memorial.css') }}">
{% endblock %}

{% block body %}

<div class="container-page administration">
    {% include '_partials/_adminnav.html.twig' %}
    <main class="main-administration">
        <h1>{{ histoire.titre }}</h1>     

        <section id="histoire-content">
            <div id="histoire-content-header">
                {# {% if histoire.photo == null %}
                    <p>Pas de photo</p>
                {% else %}
                <figure>
                    <img src="{{ asset('uploads/imgHistoire/'~ histoire.photo) }}" alt="photo de l'histoire">            
                </figure>
                {% endif %} #}
                {% if histoire.auteur == 'Antoine' %}
                <figure>
                    <img src="{{histoire.photo}}" alt="photo de l'histoire">            
                </figure>
                {% else %}
                    <figure>
                        <img src="{{ asset('uploads/imgHistoire/'~ histoire.photo) }}" alt="photo de l'histoire">            
                    </figure>
                {% endif %}
                <p>Date de création {{ histoire.dateCreation | date('d-m-Y') }}</p>
                </div>
            <div id="histoire-texte">
                <p>{{ histoire.texte|raw }}</p>          
            </div>            
        </section>

        <a class="manage-button" href="{{ path('app_admin_histoire_remove', {'id': histoire.id}) }}">Supprimer l'histoire</a>
        {% if histoire.etat == 'STATE_APPROUVED' %}
            <a class="manage-button" href="{{ path('app_admin_histoire_disapprouved', {'slug': histoire.slug}) }}">Désapprouver</a>
        {% elseif histoire.etat == 'STATE_WAITING' %}
            <a class="manage-button" href="{{ path('app_admin_histoire_approuved', {'slug': histoire.slug}) }}">Approuver</a>
            <a class="manage-button" href="{{ path('app_admin_histoire_disapprouved', {'slug': histoire.slug}) }}">Désapprouver</a>
        {% elseif histoire.etat == 'STATE_DISAPPROUVED' %}
            <a class="manage-button" href="{{ path('app_admin_histoire_approuved', {'slug': histoire.slug}) }}">Approuver</a>
        {% endif %}

        {% if histoire.reports| length > 0 %}
            <a class="manage-button" href="{{ path('app_admin_histoire_remove_reports', {'id': histoire.id}) }}">Supprimer les signalements</a>
        {% endif %}

        <div class="formulaire" id="form-histoire">
            {{ form_start(formEditHistoire) }}
                <div class="custom-errors">
                    {{ form_errors(formEditHistoire.titre) }}
                </div>
                <div class="form-element">
                    {{ form_row(formEditHistoire.titre) }}
                </div>
                <div class="custom-errors">
                    {{ form_errors(formEditHistoire.texte) }}
                </div>
                <div class="form-element">
                    {{ form_row(formEditHistoire.texte) }}
                </div>
                <div class="custom-errors">
                    {{ form_errors(formEditHistoire.imgHistoire) }}
                </div>
                <div class="form-element">
                    {{ form_row(formEditHistoire.imgHistoire) }}
                </div>
                <div class="custom-errors">
                    {{ form_errors(formEditHistoire.genre) }}
                </div>
                <div class="form-element">
                    {{ form_row(formEditHistoire.genre) }}
                </div>
                <div class="form-element">
                    {{ form_row(formEditHistoire.submit) }}
                </div>
            {{ form_end(formEditHistoire) }}  
        </div>
    </main>

</div>
{% endblock %}
