{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}

<div class="container-page moderation">
        {% include '_partials/_moderateurnav.html.twig' %}
        <main class="main-administration">
            <h1>Liste des Posts</h1>

            <section class="list">
                <table>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Date de création</th>
                        <th>Action</th>
                    </tr>
                {% for post in posts %}
                    <tr class="genre">
                        <td>
                            <p>{{ post.texte|raw }}</p>
                        </td>
                        <td>
                            <p>{{ post.auteur }}</p>  
                        </td>
                        <td>
                            <p>{{ post.dateCreation| date('d-m-Y') }}</p>
                        </td>
                        <td>
                          <a href="{{ path('app_moderateur_forum_post_show', {'id': post.id}) }}">Voir</a>   
                        </td>
                    </tr>
                {% endfor %} 
                </table>       
            </section>      
            <div class="pagination js-filter-pagination">
                {{ knp_pagination_render(posts) }}
            </div>             
        </main>
</div>
{% endblock %}