{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/memorial.css') }}">
{% endblock %}

{% block body %}

<div class="container-page moderation">
    {% include '_partials/_moderateurnav.html.twig' %}
    <main class="main-administration">
        <h1>Post</h1>     

        <div class="manage-post">
            <p>{{ post.texte|raw }}</p>            
        </div>

        <a class="manage-button" href="{{ path('app_moderateur_post_remove', {'id': post.id}) }}">Supprimer le post</a>

        {% if post.reports| length > 0 %}
            <a class="manage-button" href="{{ path('app_moderateur_post_remove_reports', {'id': post.id}) }}">Supprimer les signalements</a>
        {% endif %}

    </main>

</div>
{% endblock %}
