{% extends 'base.html.twig' %}

{% block title %}{{ topic.titre }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/memorial.css') }}">
{% endblock %}

{% block body %}

<div class="container-page moderation">
    {% include '_partials/_moderateurnav.html.twig' %}
    <main class="main-administration">
        <h1>{{ topic.titre }}</h1>  
        
        <div class="manage-topic">
            <p>{{ firstPost.0.texte|raw }}</p>            
        </div>

        <a class="manage-button" href="{{ path('app_moderateur_topic_remove', {'slug': topic.slug}) }}">Supprimer le topic</a>

        {% if topic.reports| length > 0 %}
            <a href="{{ path('app_moderateur_topic_remove_reports', {'id': topic.id}) }}">Supprimer les signalements</a>
        {% endif %}

    </main>

</div>
{% endblock %}
