{% extends 'base.html.twig' %}

{% block title %}Conversation{% endblock %}

{% block body %}
<div class="container-page js-refresh-page">
    <a id="conv-return" href="{{ path('app_messagerie') }}"><i class="fa-solid fa-arrow-left"></i></a>
    <div id="correspondant-infos">
        <figure>
            {% if not user.photo %}
                <img src="{{ asset('img/default_user.png') }}" alt="">
            {% else %}
                <img src="{{ asset('uploads/imgUserProfil/'~ user.photo) }}" alt="">   
            {% endif %} 
        </figure>
        <h1>{{ user.pseudo }}</h1>        
    </div>
    <section id="messages-conversation">
        {% include '_partials/_messages.html.twig' %} 
        <div id="form-conv-message-container">
            {{ form_start(form, {attr: {class: 'js-submit-form'}}) }}
                <div class="custom-errors">
                    {{ form_errors(form.texte) }}
                </div>  
                {{ form_row(form.texte) }}
                {# On cache le champ ici car il est setté dans le controller. On ne l'enlève pas du form car on en a besoin dans la messagerie #}
                {{ form_widget(form.destinataire, { 'attr': {'style': 'display:none'} }) }}
                {{ form_row(form.submit) }}
            {{ form_end(form) }}               
        </div>
    </section>

</div>
{% endblock %}
