{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<div class="container-page">
    <h1>Messagerie</h1>

    <h2>Ecrire un nouveau message</h2>
    {{ form_start(form) }}
    {{ form_end(form) }}
    <h2>Conversations</h2>
    {% for conversation in conversations %}
        {# {% if conversation.destinataire == app.user.id %}
            <p>{{ conversation.expediteur_pseudo }}</p>
        {% else %}
            <p>{{ conversation.destinataire_pseudo }}</p>
        {% endif %} #}
        {{ dump(conversation) }}
       
    {% endfor %}
</div>
{% endblock %}
