{% extends 'base.html.twig' %}

{% block title %}Non classés{% endblock %}

{% block body %}
<div class="container-page">
    <section class="banniere-messagerie">
        <h1>Messagerie</h1>
    </section>
    <p class="fil-ariane"> <a href="{{ path('app_home') }}">Accueil</a> &lt; <a href="{{ path('app_messagerie') }}">Messagerie</a> &lt; Invitations par message</p>
    <section class="messagerie-links">
        <a class="bouton-action" href="{{ path('app_messagerie') }}">Accueil messagerie</a>
        <a class="bouton-action" href="{{ path('app_correspondants') }}">Correspondants</a>
        {# Dans nos classés, nous auront les personnes dont nous avons lus les messages mais n'avons pas répondu = ils ne sont pas dans notre collection de destinataires #}  
    </section>
    <section class="messagerie-content">
        <h2>Invitations par message</h2>
        {% for contact in nonClasses %}
        <div>
            {# {{dump(contact)}}<br> #}
            <a href="{{ path('app_conversation', {id:contact.id}) }}">{{ contact.pseudo }}</a>
        </div>
        {# Vérifier if destinataire not in app.user.messagesRecus expediteur id #}
        {% endfor %}        
    </section>
</div>
{% endblock %}
