{% extends 'base.html.twig' %}

{% block title %}{{ memorial.nom }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/memorial.css') }}">
{% endblock %}

{% block body %}

<div class="container-page moderation">
    {% include '_partials/_moderateurnav.html.twig' %}
    <main class="manage-page-memorial">
        <h1 id="memorial-title">En mémoire de {{ memorial.nom }}</h1>     
        <section class="header-memorial">
            <figure>
                <img src="{{ asset('uploads/imgMemorial/'~ memorial.photo) }}" alt="photo de l'animal">       
            </figure>     
            <div id="memorial-infos">
                    <h2>Informations</h2>
                    <p>
                        Date de naissance : {{ memorial.dateNaissance | date('d-m-Y') }}                
                    </p>
                    <p>
                        A rejoint les étoiles le {{ memorial.dateNaissance | date('d-m-Y') }}                
                    </p>
                    <p>
                        {% if memorial.lieu != null %}
                            Lieu de vie : {{ memorial.lieu }}  
                        {% else %} 
                            Lieu de vie : non renseigné  
                        {% endif %}
                    </p>    
                    {% if memorial.auteur != null %}
                        <p>Mémorial créé par <a href="{{ path('show_profile', {'id': memorial.auteur.id}) }}">{{ memorial.auteur }}</a></p>
                    {% else %}
                        <p>Mémorial créé par Utilisateur supprimé</p>
                    {% endif %}              
            </div>            
        </section>
        

        <section id="memorial">
            <div id="memorial-presentation">
                <h2>Présentation</h2>
                <p>
                    {{ memorial.presentation|raw }}
                </p>            
            </div>
            <div id="memorial-choses-aimees">
                <h2>Choses Aimées</h2>
                <p>
                    {{ memorial.chosesAimees|raw }}                
                </p>            
            </div>
            <div id="memorial-choses-detestees">
                <h2>Choses détestées</h2>
                <p>
                    {{ memorial.chosesDetestees|raw }}                
                </p>            
            </div>
            <div id="memorial-notre-histoire">
                <h2>Notre histoire</h2>
                <p>
                    {{ memorial.histoire|raw }}                   
                </p>
            </div>
        </section>


        <section id='galerie-photo'>
            <h2>Galerie photo</h2>

            <div id="container-photos">
                <div id="container-img-galerie">
                    {% if memorial.photos|length > 0 %}
                        {% for image in memorial.photos %}
                            <div class="image-galerie">
                                <figure>
                                    <img src="{{ asset('uploads/imgGalerie/'~ image.photo) }}" alt="photo de l'animal">                        
                                </figure>
                                        <a href="{{path('app_moderateur_remove_photo', {'idMemorial': memorial.id, 'id': image.id}) }}">Supprimer la photo</a>
                                {% endif %}
                            </div>
                        {% endfor %} 
                    {% else %} 
                            <p>La galerie ne contient aucune photo pour le moment</p>
                    {% endif %}
                <div id="container-img-galerie">
            </div>
        </section>
        <a class="manage-button" href="{{ path('app_moderateur_memorial_remove', {'id': memorial.id}) }}">Supprimer le mémorial</a>

        {% if memorial.reports| length > 0 %}
            <a class="manage-button" href="{{ path('app_moderateur_memorial_remove_reports', {'id': memorial.id}) }}">Supprimer les signalements</a>
        {% endif %}

    </main>

</div>
{% endblock %}
