<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
            <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
            integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
            crossorigin=""/>

        {% endblock %}

        {% block javascripts %}
        {# Ajouter defer pour éviter que le script ne s'éxecute avant le chargement du document #}
            <script src="{{ asset('js/script.js')}}" type='module' defer></script>
            <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>
            <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>         
        {% endblock %}
    </head>
    <body>
        <header id="header-main" class="header-bar">
            {% if app.session.flashBag.has('success') %}
                {% for msg in app.flashes('success') %}        
                    <div class="alert-success">
                        {{ msg }}
                    </div>
                {% endfor %}             
            {% endif %}
            {% if app.session.flashBag.has('notice') %}
                {% for msg in app.flashes('notice') %}        
                    <div class="alert-notice">
                        {{ msg }}
                    </div>
                {% endfor %}             
            {% endif %}
            {% if app.session.flashBag.has('warning') %}
                {% for msg in app.flashes('warning') %}        
                    <div class="alert-warning">
                        {{ msg }}
                    </div>
                {% endfor %}             
            {% endif %}
            <div class="toggle-menu">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
            </div>
            <nav class="nav-bar">
                <ul id="nav-menu">
                    <li>
                        <a href="{{ path('app_home') }}">Accueil</a>
                        <i class="fa-solid fa-paw"></i>
                    </li>
                    <li>
                        <a href="{{ path('app_memoriaux') }}">Memoriaux</a>
                        <i class="fa-solid fa-paw"></i>
                    </li>
                    <li>
                        <a href="{{ path('app_belles_histoires') }}">Belles histoires</a>
                        <i class="fa-solid fa-paw"></i>
                    </li>
                    <li>
                        <a href="{{ path('app_mot_commemoration') }}">Commémoration</a>
                        <i class="fa-solid fa-paw"></i>
                    </li>
                    <li>
                        <a href="{{ path('app_forum') }}">Forum</a>
                        <i class="fa-solid fa-paw"></i>
                    </li>
                    <li>
                        <a href="{{ path('app_refuge') }}">Adoptez</a>
                        <i class="fa-solid fa-paw"></i>
                    </li>
                    <li>
                        <a href="#">A propos</a>
                        <i class="fa-solid fa-paw"></i>
                    </li>
                    {% if app.user and is_granted("ROLE_ADMIN") %}
                        <li>
                            <a href="{{ path('app_admin') }}">Administration</a>
                        </li>
                    {% endif %} 
                    {% if app.user and app.user.roles[0] != ('ROLE_ADMIN') %}                     
                        {% if app.user and is_granted("ROLE_MODERATEUR_HISTOIRES")%}
                            <li>
                                <a href="{{ path('app_moderateur') }}">Modération</a>
                            </li>
                        {% elseif app.user and is_granted("ROLE_MODERATEUR_FORUM") %}
                        <li>
                            <a href="{{ path('app_moderateur') }}">Modération</a>
                        </li>
                        {% elseif app.user and is_granted("ROLE_MODERATEUR_MEMORIAUX") %}
                        <li>
                            <a href="{{ path('app_moderateur') }}">Modération</a>
                        </li>
                        {% elseif app.user and  is_granted("ROLE_MODERATEUR_COMMEMORATION")%}
                        <li>
                            <a href="{{ path('app_moderateur') }}">Modération</a>
                        </li>
                        {% endif %} 
                    {% endif %}                     
                    {% if app.user %}                        
                        <li>
                            <a href="{{ path('app_messagerie') }}"><i class="fa-solid fa-envelope"></i></a>
                            <i class="fa-solid fa-paw"></i>
                        </li>
                        <li>
                            <a href="{{ path('my_profile') }}"><i class="fa-solid fa-user"></i></a>
                            <i class="fa-solid fa-paw"></i>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i></a>
                            <i class="fa-solid fa-paw"></i>
                        </li>
                    {% elseif not app.user %}
                        <li>
                            <a href="{{ path('app_login') }}">Connexion</a>
                            <i class="fa-solid fa-paw"></i>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
            {% block body %}
            {% endblock %}            
        {# <footer>
            
            <ul>
                <li>CGU</li>
                <li>Mentions légales</li>
                <li>Site mapping</li>
                <li>Nous contacter (créer formulaire de contact, même non fonctionnel)</li>
                <li>Liens internes (à insérer)</li>
                <li>Liens externes (réseaux sociaux)</li>
            </ul> 
        </footer> #}
        <footer class="footer-section">
            <div class="container">
                <div class="footer-cta pt-5 pb-5">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="cta-text">
                                    <h4>Find us</h4>
                                    <span>1010 Avenue, sw 54321, chandigarh</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="fas fa-phone"></i>
                                <div class="cta-text">
                                    <h4>Call us</h4>
                                    <span>9876543210 0</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-30">
                            <div class="single-cta">
                                <i class="far fa-envelope-open"></i>
                                <div class="cta-text">
                                    <h4>Mail us</h4>
                                    <span>mail@info.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-content pt-5 pb-5">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 mb-50">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="https://i.ibb.co/QDy827D/ak-logo.png" class="img-fluid" alt="logo"></a>
                                </div>
                                <div class="footer-text">
                                    <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                                    elit,Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="footer-social-icon">
                                    <span>Follow us</span>
                                    <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                    <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                    <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                            <div class="footer-widget">
                                <div class="footer-widget-heading">
                                    <h3>Useful Links</h3>
                                </div>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">about</a></li>
                                    <li><a href="#">services</a></li>
                                    <li><a href="#">portfolio</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Our Services</a></li>
                                    <li><a href="#">Expert Team</a></li>
                                    <li><a href="#">Contact us</a></li>
                                    <li><a href="#">Latest News</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                            <div class="footer-widget">
                                <div class="footer-widget-heading">
                                    <h3>Subscribe</h3>
                                </div>
                                <div class="footer-text mb-25">
                                    <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                                </div>
                                <div class="subscribe-form">
                                    <form action="#">
                                        <input type="text" placeholder="Email Address">
                                        <button><i class="fab fa-telegram-plane"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                            <div class="copyright-text">
                                <p>Copyright &copy; 2018, All Right Reserved </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Terms</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Policy</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
