<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% if description is defined %}
            <meta name="description" content="{{ description }}" />
        {% endif %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
            <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
            integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
            crossorigin=""/>
            <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/">
        {% endblock %}

        {% block javascripts %}

            <script src="{{ asset('tarteaucitron/tarteaucitron.js')}}"></script>

            <script type="text/javascript">
            tarteaucitron.init({
            "privacyUrl": "", /* Privacy policy url */
            "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

            "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
            "cookieName": "tarteaucitron", /* Cookie name */
        
            "orientation": "middle", /* Banner position (top - bottom) */
        
            "groupServices": false, /* Group services by category */
            "serviceDefaultState": "wait", /* Default state (true - wait - false) */
                            
            "showAlertSmall": false, /* Show the small banner on bottom right */
            "cookieslist": true, /* Show the cookie list */
                            
            "closePopup": false, /* Show a close X on the banner */

            "showIcon": true, /* Show cookie icon to manage cookies */
            //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
            "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

            "adblocker": false, /* Show a Warning if an adblocker is detected */
                            
            "DenyAllCta" : true, /* Show the deny all button */
            "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
            "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                            
            "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

            "removeCredit": false, /* Remove credit link */
            "moreInfoLink": true, /* Show more info link */

            "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
            "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

            //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                            
            "readmoreLink": "", /* Change the default readmore link */

            "mandatory": true, /* Show a message about mandatory cookies */
            "mandatoryCta": true /* Show the disabled accept button when mandatory on */
            });


            </script>
        {# Ajouter defer pour éviter que le script ne s'éxecute avant le chargement du document #}
            <script src="{{ asset('js/script.js')}}" type='module' defer></script>
            <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>
            <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>      
               
        {% endblock %}
    </head>
    <body>
        <header id="header-main" class="header-bar">
            {% if app.session.flashBag.has('success') %}
                {% for msg in app.flashes('success') %}        
                    <div class="alert-success alert-message">
                        <p>{{ msg }}</p>
                        <a href="#"><i class="close-alert fa-solid fa-xmark" style="color: #ffffff;"></i></a>
                    </div>
                {% endfor %}             
            {% endif %}
            {% if app.session.flashBag.has('notice') %}
                {% for msg in app.flashes('notice') %}        
                    <div class="alert-notice alert-message">
                        <p>{{ msg }}</p>
                        <a href="#"><i class="close-alert fa-solid fa-xmark" style="color: #ffffff;"></i></a>
                    </div>
                {% endfor %}             
            {% endif %}
            {% if app.session.flashBag.has('warning') %}
                {% for msg in app.flashes('warning') %}        
                    <div class="alert-warning alert-message">
                        <p>{{ msg }}</p>
                        <a href="#"><i class="close-alert fa-solid fa-xmark" style="color: #ffffff;"></i></a>
                    </div>
                {% endfor %}             
            {% endif %}
            <div class="toggle-menu">
                <div class="line line1"></div>
                <div class="line line2"></div>
                <div class="line line3"></div>
            </div>
            <nav class="nav-bar">
                <ul id="nav-menu">
                    <li id="logo-link">
                        <a href="{{ path('app_home') }}"><img src="{{ asset('img/patte_uhdp_logo.png') }}" class="logo" alt="logo">
                    </a>
                        <i class="fa-solid fa-paw"></i>
                    </li>
                    <li>
                        <a href="{{ path('app_memoriaux') }}">Memoriaux</a>
                        <i class="fa-solid fa-paw"></i>
                    </li>
                    <li>
                        <a href="{{ path('app_belles_histoires') }}">Belles histoires</a>
                        <i class="fa-solid fa-paw"></i>
                    </li>
                    <li>
                        <a href="{{ path('app_mot_commemoration') }}">Commémoration</a>
                        <i class="fa-solid fa-paw"></i>
                    </li>
                    <li>
                        <a href="{{ path('app_forum') }}">Forum</a>
                        <i class="fa-solid fa-paw"></i>
                    </li>
                    <li>
                        <a href="{{ path('app_refuge') }}">Adoptez</a>
                        <i class="fa-solid fa-paw"></i>
                    </li>
                    <li>
                        <a href="{{ path('app_notre_histoire') }}">A propos</a>
                        <i class="fa-solid fa-paw"></i>
                    </li>
                    {% if app.user and is_granted("ROLE_ADMIN") %}
                        <li>
                            <a href="{{ path('app_admin') }}">Administration</a>
                        </li>
                    {% endif %} 
                    {% if app.user and app.user.roles[0] != ('ROLE_ADMIN') %}                     
                        {% if app.user and is_granted("ROLE_MODERATEUR_HISTOIRES")%}
                            <li>
                                <a href="{{ path('app_moderateur') }}">Modération</a>
                            </li>
                        {% elseif app.user and is_granted("ROLE_MODERATEUR_FORUM") %}
                        <li>
                            <a href="{{ path('app_moderateur') }}">Modération</a>
                        </li>
                        {% elseif app.user and is_granted("ROLE_MODERATEUR_MEMORIAUX") %}
                        <li>
                            <a href="{{ path('app_moderateur') }}">Modération</a>
                        </li>
                        {% elseif app.user and  is_granted("ROLE_MODERATEUR_COMMEMORATION")%}
                        <li>
                            <a href="{{ path('app_moderateur') }}">Modération</a>
                        </li>
                        {% endif %} 
                    {% endif %}                     
                    {% if app.user %}                        
                        <li>
                            <a href="{{ path('app_messagerie') }}"><i class="fa-solid fa-envelope"></i></a>
                            <i class="fa-solid fa-paw"></i>
                        </li>
                        <li>
                            <a href="{{ path('my_profile') }}"><i class="fa-solid fa-user"></i></a>
                            <i class="fa-solid fa-paw"></i>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i></a>
                            <i class="fa-solid fa-paw"></i>
                        </li>
                    {% elseif not app.user %}
                        <li>
                            <a href="{{ path('app_login') }}">Connexion</a>
                            <i class="fa-solid fa-paw"></i>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
            {% block body %}
            {% endblock %}            
        <footer class="footer-section">
            <div class="container">
                <div class="footer-content pt-5 pb-5">
                    <div class="footer-content-infos">
                        <div class="col-xl-4 col-lg-4 mb-50">
                            <div class="footer-widget">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="{{ asset('img/patte_uhdp_logo.png') }}" class="img-fluid" alt="logo"></a>
                                </div>
                                <div class="footer-text">
                                    <p>Une Histoire de Pattes, votre cimetière virtuel pour animaux et espace social face à la perte de votre animal.</p>
                                </div>
                                <div class="footer-social-icon">
                                    <span>Suivez-nous</span>
                                    <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                    <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                    <a href="#"><i class="fa-brands fa-instagram instagram-bg"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                            <div class="footer-widget">
                                <div class="footer-widget-heading">
                                    <h3>Liens pratiques</h3>
                                </div>
                                <ul>
                                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                                    <li><a href="#">Notre histoire</a></li>
                                    <li><a href="{{ path('app_memoriaux') }}">Mémoriaux</a></li>
                                    <li><a href="{{ path('app_memoriaux_recherche') }}">Rechercher un mémorial</a></li>
                                    <li><a href="{{ path('app_belles_histoires') }}">Belles histoires</a></li>  
                                    <li><a href="{{ path('app_mot_commemoration') }}">Commémoration</a></li>
                                    <li><a href="{{ path('app_forum') }}">Forum</a></li>
                                    <li><a href="{{ path('app_refuge') }}">Adoptez</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="container-copyright-infos">
                    <div class="copyright-infos">
                        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                            <div class="copyright-text">
                                <p>Copyright &copy; 2023, Tous droits réservés - Une Histoire de Pattes </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                                    <li><a href="{{ path('app_mentions_legales') }}">Mentions légales</a></li>
                                    <li><a href="{{ path('app_cgu') }}">CGU</a></li>
                                    <li><a href="{{ path('app_contact') }}">Contact</a></li>
                                    <li><a href="{{ path('app_politique_confidentialite') }}">Politique de confidentialité</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
