{% extends 'base.html.twig' %}

{% block title %}Mur de commémoration{% endblock %}

{% block body %}

<div class="container-page js-refresh-page page-mur">
    <section id="banniere-mur-commemoration">
        <h1>Mur de commémoration</h1>        
    </section>
    <section id="commemoration-presentation">
        <div class="texte">
            <p>
                Le mur de commémoration est un espace qui vous permet d'écrire ce que vous avez sur le coeur à propos des animaux qui nous ont quitté. Les autres membres ne pourront pas voir qui a écrit le mot.
            </p>            
        </div>
    </section>
    <section id="mur-content">
        
        <div id="ajout-mot">
            {% if app.user and app.user.isVerified %}                
                <a id="ajout-mot-link" href="#">
                    Ajouter un mot de commémoration
                </a>
                <div id="ajout-mot-form">
                    <a class="close" href="#"><i class="fa-solid fa-xmark"></i></a>
                    {{ form_start(formAddMot, {attr: {class: 'js-submit-form'}}) }}
                        <div class="custom-errors">
                            {{ form_errors(formAddMot.mot) }}
                        </div>
                        <div class="form-element">
                            {{ form_row(formAddMot.mot) }}
                        </div>
                        <div class="form-element">
                            {{ form_row(formAddMot.submit) }}
                        </div>
                    {{ form_end(formAddMot) }}                   
                </div>
            {% elseif app.user and not app.user.isVerified %}
                <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir ajouter un mot</p>
            {% endif %}                   
        </div>    
        {% include '_partials/_mots.html.twig' %} 
    </section>
    <div class="pagination">
        {{ knp_pagination_render(mots) }}
    </div>


</div>
{% endblock %}
