{% extends 'base.html.twig' %}

{% block title %}Mur de commémoration{% endblock %}

{% block body %}

<div class="container-page">
    <h3>Mur de commémoration</h3>

    {% for mot in mots %}
        <div class="mot">
            <p>{{ mot.mot }}
            ({{ mot.auteur }}
            {{ mot.dateCreation | date('d-m-Y') }})
            <a href="{{ path('remove_mot', {'id': mot.id}) }}">Delete</a>
            </p>
        </div>
    {% endfor %}

    {{ form_start(formAddMot) }}
    {{ form_end(formAddMot) }}
</div>
{% endblock %}
