{% extends 'base.html.twig' %}

{% block title %}Mot de commémoration{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/memorial.css') }}">
{% endblock %}

{% block body %}

<div class="container-page moderation">
    {% include '_partials/_moderateurnav.html.twig' %}
    <main class="main-administration">
        <h1></h1>Mot de commémoration</h1>     

        <div class="manage-post">
            <p>{{ mot.mot|raw }}</p>               
        </div>

        <a class="manage-button" href="{{ path('app_moderateur_mot_remove', {'id': mot.id}) }}">Supprimer le mot</a>

        {% if mot.reports| length > 0 %}
            <a href="{{ path('app_moderateur_mot_remove_reports', {'id': mot.id}) }}">Supprimer les signalements</a>
        {% endif %}  

    </main>

</div>
{% endblock %}
