{% extends 'base.html.twig' %}

{% block title %}Posts signalés{% endblock %}

{% block body %}

<div class="container-page administration">
        {% include '_partials/_adminnav.html.twig' %}
        <main class="main-administration">
             <h1>Posts signalés</h1>

            <section class="list">
                <table>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Date de création</th>
                        <th>Signalements</th>
                        <th>Action</th>
                    </tr>
                {% for post in postsSignales %}
                    <tr class="genre">
                        <td>
                            <p>{{ post.texte|raw }}</p>
                        </td>
                        <td>
                            <p>{{ post.auteur }}</p>  
                        </td>
                        <td>
                            <p>{{ post.dateCreation| date ('d-m-Y') }}</p>
                        </td>
                        <td>
                            <p>{{ post.howManyReports }}</p>
                        </td>
                        <td>
                            <a href="{{ path('app_admin_forum_post_show', {'id': post.id}) }}">Voir</a>    
                        </td>
                    </tr>
                {% endfor %}        
                </table>
            </section>      
            <div class="pagination js-filter-pagination">
                {{ knp_pagination_render(postsSignales) }}
            </div>             
        </main>
</div>
{% endblock %}