{% extends 'base.html.twig' %}

{% block title %}{{ topic.titre }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/memorial.css') }}">
{% endblock %}

{% block body %}

<div class="container-page administration">
    {% include '_partials/_adminnav.html.twig' %}
    <main class="main-administration">
        <h1>{{ topic.titre }}</h1>     

        <div class="manage-topic">
            <p>{{ firstPost.0.texte|raw }}</p>            
        </div>

        <a class="manage-button" href="{{ path('app_admin_topic_remove', {'slug': topic.slug}) }}">Supprimer le topic</a>

        {% if topic.reports| length > 0 %}
            <a href="{{ path('app_admin_topic_remove_reports', {'id': topic.id}) }}">Supprimer les signalements</a>
        {% endif %}
{# 
        {{ dump(firstPost.0.texte) }} #}


        <div class="formulaire" id="form-topic">
            {{ form_start(formEditTopic) }}
                <div class="custom-errors">
                    {{ form_errors(formEditTopic.titre) }}
                </div>
                <div class="form-element">
                    {{ form_row(formEditTopic.titre) }}
                </div>
                <div class="custom-errors">
                    {{ form_errors(formEditTopic.firstComment) }}
                </div>
                <div class="form-element">
                    {{ form_row(formEditTopic.firstComment, { 'value': firstPost.0.texte  }) }}
                </div>
                {# {{ form_widget(formEditTopic.firstComment, { 'placeholder': firstPost.0.texte  }) }} #}
                <div class="form-element">
                    {{ form_row(formEditTopic.submit) }}
                </div>
            {{ form_end(formEditTopic) }} 
        </div>
    </main>

</div>
{% endblock %}
