{% extends 'base.html.twig' %}

{% block title %}Topics{% endblock %}

{% block body %}

<div class="container-page administration">

        {% include '_partials/_adminnav.html.twig' %}
        <main class="main-administration">
            <h1>Topics</h1>

            <section class="list">
                <table>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Date de création</th>
                        <th>Action</th>
                    </tr>
                {% for topic in topics %}
                    <tr>
                        <td>
                            <p>{{ topic.titre }}</p>
                        </td>
                        <td>
                            <p>{{ topic.auteur}}</p> 
                        </td>
                        <td>
                            <p>
                                {{ topic.dateCreation| date('d-m-Y') }}
                            </p>
                        </td>
                        <td>
                        <a href="{{ path('app_admin_forum_topic_show', {'slug':topic.slug}) }}">Modérer</a>  
                        </td>
                        
                    </tr>
                    {# {{ dump(topic) }} #}
                {% endfor %}
                </table>
            </section>
            <div class="pagination js-filter-pagination">
                {{ knp_pagination_render(topics) }}
            </div>            
        </main>        

</div>
{% endblock %}