{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}
<div class="container-page">

    {% for message in app.flashes('warning') %}
        <div class="warning">
            {{ message }}
        </div>
    {% endfor %}
 
    <h1>Paramètres</h1>

    <section class="form-page edit-page">
        <p> <a href="{{ path('app_home') }}">Accueil</a> &lt; <a href="{{ path('my_profile') }}">Mon profil</a> &lt; Paramètres</p>
        <div class="formulaire" id="form-infos-profil">
            <h2>Modifier les informations du profil</h2>

        {{ form_start(formEditProfile) }}
            <div class="custom-errors">
                {{ form_errors(formEditProfile.email) }}
            </div>
            <div class="form-element">
                {{ form_row(formEditProfile.email) }}
            </div>
            <div class="custom-errors">
                {{ form_errors(formEditProfile.pseudo) }}
            </div>
            <div class="form-element">
                {{ form_row(formEditProfile.pseudo) }}
            </div>
            <div class="custom-errors">
                {{ form_errors(formEditProfile.imgUser) }}
            </div>
            <div class="form-element">
                {{ form_row(formEditProfile.imgUser) }}
            </div>
            <div class="form-element">
                {{ form_row(formEditProfile.submit) }}
            </div>
        {{ form_end(formEditProfile) }}       
        </div>
    

        <div class="formulaire" id="form-infos-password">
            <h2>Modifier le mot de passe</h2>

            {{ form_start(formEditPassword) }}
            <div class="custom-errors">
                {{ form_errors(formEditPassword.currentPassword) }}
            </div>
            <div class="form-element">
                {{ form_row(formEditPassword.currentPassword) }}
            </div>
            <div class="custom-errors">
                {{ form_errors(formEditPassword.newPassword) }}
            </div>
            <div class="form-element">
                {{ form_row(formEditPassword.newPassword) }}
            </div>
            <div class="form-element">
                {{ form_row(formEditPassword.submit) }}
            </div>
        {{ form_end(formEditPassword) }}   
        </div>

        <a id="open-dialog" class="delete-account" href="#">Supprimer le compte</a>  
        <dialog id="delete-dialog" class="dialog-delete-style">
            <p><i class="fa-solid fa-triangle-exclamation"></i> Cette action est irréversible, êtes-vous sûr de vouloir mettre fin à notre histoire ?</p>
            <form method="dialog" id="dialog-form-delete" class="form-dialog-delete-style">
                <button class="bouton-action" id="annuler">Non, je reste !</button>
                <a id="supprimer-compte" href="{{ path('suppr_account_user') }}">Supprimer le compte</a>
            </form>
        </dialog>      
    </section>

</div>
{% endblock %}
