{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}
<div class="container-page">

    {% for message in app.flashes('warning') %}
        <div class="warning">
            {{ message }}
        </div>
    {% endfor %}
 
    <h1>Paramètres</h1>

    <section id="infos-profil">
        <h2>Modifier les informations du profil</h2>

    {{ form_start(formEditProfile) }}
        <div class="form-element">
            {{ form_row(formEditProfile.pseudo) }}
        </div>
        <div class="form-element">
            {{ form_row(formEditProfile.photoProfil) }}
        </div>
        <div class="form-element">
            {{ form_row(formEditProfile.submit) }}
        </div>
    {{ form_end(formEditProfile) }}        
    </section>

    <section id="infos-paswword">
        <h2>Modifier le mot de passe</h2>

        {{ form_start(formEditPassword) }}
        <div class="form-element">
            {{ form_row(formEditPassword.currentPassword) }}
        </div>
        <div class="form-element">
            {{ form_row(formEditPassword.newPassword) }}
        </div>
        <div class="form-element">
            {{ form_row(formEditPassword.submit) }}
        </div>
    {{ form_end(formEditPassword) }}   
    </section>

    <a href="{{ path('suppr_account_user') }}">Supprimer le compte</a>


</div>
{% endblock %}
