{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="container-page profil-page">
    <div class="banniere-profil">
        <div class="profil-picture">
            <figure>
                {% if user.photo == null %}
                    <img src="{{ asset('img/bouquet_fleurs.jpg') }}" alt="">
                {% else %}
                    <img src="{{ asset('uploads/imgUserProfil/'~ user.photo) }}" alt="">   
                {% endif %} 
            </figure>                 
        </div>
    </div>
    <p class="fil-ariane"> <a href="{{ path('app_home') }}">Accueil</a> &lt; Mon profil</p>
    <section class="infos-profil">
        <h1>{{ user.pseudo }}</h1>
        <a href="{{ path('edit_profile') }}"><i class="fa-solid fa-gear"></i></a>   
    </section>
    <section class="rubriques">
        <a class="bouton-action" href="{{path('my_histoires') }}">Gérer mes Belles histoires</a>
    </section>
    <section class="user-memoriaux">
        <h2>Mes mémoriaux</h2>
        <div class="container-memoriaux">
            {% if memoriaux|length > 0 %}
                {% for memorial in memoriaux %}
                    {% include '_partials/_memorialCard.html.twig' with {memorial:memorial} only %}
                {% endfor %}   
            {% else %}    
                <p>Pas de mémoriaux créés</p>
            {% endif %}
        </div>
    </section>
    <section class="user-topics">
        <h2>Mes topics</h2>
        {% if topics %}
            {% for topic in topics %}
            <div class="topic-user">
                <div class="topic-infos">
                    <figure>
                        <img src="{{ asset('img/default_user.png') }}" alt="">
                    </figure>
                    <div class="title-infos">
                        <a class="topic-title" href="{{path('show_topic', {'slug': topic.slug}) }}">{{ topic.titre }}</a>
                    </div>
                </div>
                <div class="topic-posts">
                    <i class="fa-regular fa-comment"></i>
                    <p>{{ topic.howManyPosts }}</p>
                </div>                 
            </div>
            {# <div class="topic-user">
                <h3>{{ topic.titre }}</h3>
                <a href="{{path('show_topic', {'slug': topic.slug}) }}">Voir</a>
            </div> #}
            {% endfor %}
        {% else %}
            <p>Rien à afficher</p>
        {% endif %}
    </section>
    <section id="mes-favoris">
        <h2>Mes favoris</h2>
        <div id="container-favoris">
            {% if user.getHistoiresFavorites|length > 0  %}
                {% for histoire in user.getHistoiresFavorites %}
                    <article class="belle-histoire-card">
                        <div class="hr-media">
                            <figure>
                                {% if histoire.photo != null %}
                                    <img src="{{ asset('uploads/imgHistoire/'~ histoire.photo) }}" alt="photo de l'histoire"> 
                                {% else %}            
                                    <img src="{{ asset('img/book_dog.jpg') }}" alt="photo de l'histoire">                                
                                {% endif %}
                                {# {% else %} 
                                <img src="{{histoire.photo}}" alt="photo de l'histoire"> 
                                {% endif %} #}
                            </figure>
                        </div>
                        <div class="hr-content">
                            <div class="hr-infos">
                                <p>{{ histoire.genre }}</p>
                                <p>{{ histoire.dateCreation|date('d-m-Y') }}</p>
                                <p>{{ histoire.howManyLikes}} <i class="fa-solid fa-paw"></i></p>
                            </div>
                            <div class="hr-texte">
                                <h3><a href="{{path('show_histoire', {'slug': histoire.slug}) }}">{{ histoire.titre }}</a></h3>
                                <p>{{ histoire.texte|slice(0, 80)|raw }}...</p>
                            </div>
                            <div class="hr-auteur">
                                <figure>
                                    <img src="" alt="">
                                </figure>
                                {% if histoire.auteur != null %}
                                    <p>Auteur : <a href="{{ path('show_profile', {'id': histoire.auteur.id}) }}">{{ histoire.auteur }}</a></p>
                                {% else %}
                                    <p>Auteur : Utilisateur supprimé</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="share-content">
                            <i class="fa-solid fa-share-nodes"></i>
                            <div class="share-content-inner">
                                {# Mettre les liens de partage : twitter et facebook #}
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url(path('show_histoire', {slug: histoire.slug})) }}" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                                <a href="https://www.twitter.com/intent/tweet?text={{ histoire.titre|url_encode }}%20{{ absolute_url(path('show_histoire', {slug: histoire.slug})) }}%20UneHistoireDePattes" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                            </div>                        
                        </div>

                    </article>
                {% endfor %}
            {% else %}
                <p>Rien en favoris pour le moment</p>
            {% endif %}            
        </div>

    </section>
</div>
{% endblock %}