{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="container-page profil-page">
    <div id="banniere-mon-profil">
        <div class="profil-picture">
            <figure>
                {% if not user.photo %}
                    <img src="{{ asset('img/default_user.png') }}" alt="">
                {% else %}
                    <img src="{{ asset('uploads/imgUserProfil/'~ user.photo) }}" alt="">   
                {% endif %} 
            </figure>                 
        </div>
    </div>
    <section id="infos-mon-profil">
        <h1>{{ user.pseudo }}</h1>
        <a href="{{ path('edit_profile') }}"><i class="fa-solid fa-gear"></i></a>   
    </section>
    <section class="rubriques">
        <a  href="{{path('my_histoires') }}">Gérer mes Belles histoires</a>
    </section>
    <section id="mes-memoriaux">
        <h2>Mes mémoriaux</h2>
        <div class="container-memoriaux">
            {% if memoriaux|length > 0 %}
                {% for memorial in memoriaux %}
                    {% include '_partials/_memorialCard.html.twig' with {memorial:memorial} only %}
                {% endfor %}   
            {% else %}    
                <p>Pas de mémoriaux créés</p>
            {% endif %}
        </div>
    </section>
    <section id="mes-topics">
        <h2>Mes topics</h2>
        {% if topics %}
            {% for topic in topics %}
            <div class="topic-user">
                <div class="topic-infos">
                    <figure>
                        <img src="{{ asset('img/default_user.png') }}" alt="">
                    </figure>
                    <div class="title-infos">
                        <a class="topic-title" href="{{path('show_topic', {'slug': topic.slug}) }}">{{ topic.titre }}</a>
                    </div>
                </div>
                <div class="topic-posts">
                    <i class="fa-regular fa-comment"></i>
                    <p>{{ topic.howManyPosts }}</p>
                </div>                 
            </div>
            {# <div class="topic-user">
                <h3>{{ topic.titre }}</h3>
                <a href="{{path('show_topic', {'slug': topic.slug}) }}">Voir</a>
            </div> #}
            {% endfor %}
        {% else %}
            <p>Rien à afficher</p>
        {% endif %}
    </section>
    <section id="mes-favoris">
        <h2>Mes favoris</h2>
        {% if user.getHistoiresFavorites|length > 0  %}
            {% for histoire in user.getHistoiresFavorites %}
                <p>{{ histoire.titre }}</p>
            {% endfor %}
        {% else %}
            <p>Rien en favoris pour le moment</p>
        {% endif %}
    </section>
</div>
{% endblock %}