{% extends 'base.html.twig' %}

{% block title %}{{user.pseudo}}{% endblock %}

{% block body %}

<div class="container-page">
    {% if user.photo %}
        <img src="{{ asset('uploads/imgGalerie/'~ user.photo) }}" alt="">
    {% else %}
        <p>Pas de photo</p>
    {% endif %}
    <h5>{{ user.pseudo }}</h5>
    {% if user.isBannir == false %}
        <a href="{{ path('ban_user', {'id': user.id}) }}">Bannir</a>
    {% else %}
        <a href="{{ path('ban_user', {'id': user.id}) }}">Dé-bannir</a>
    {% endif %}
</div>
{% endblock %}
