{% extends 'base.html.twig' %}

{% block title %}{{user.pseudo}}{% endblock %}

{% block body %}

<div class="container-page profil-page">
    <div class="banniere-profil">
        <div class="profil-picture">
            <figure>
                {% if user.photo == null %}
                    <img src="{{ asset('img/bouquet_fleurs.jpg') }}" alt="">
                {% else %}
                    <img src="{{ asset('uploads/imgUserProfil/'~ user.photo) }}" alt="">   
                {% endif %} 
            </figure>                 
        </div>
    </div>
    <section class="infos-profil">
        <h1>{{ user.pseudo }}</h1> 
    </section>
    <section class="rubriques">
        {% if user not in app.user.blockedUsers %}
            <a class="bouton-action" href="{{ path('app_conversation', {'id': user.id}) }}"><i class="fa-solid fa-envelope"></i> Envoyer un message</a>
            <a class="bouton-action" href="{{ path('block_user', {'id': user.id}) }}"><i class="fa-solid fa-user-minus"></i> Bloquer l'utilisateur</a>
        {% else %}
            <a class="bouton-action" href="{{ path('block_user', {'id': user.id}) }}"><i class="fa-solid fa-user-plus"></i> Débloquer l'utilisateur</a>
        {% endif %}
    </section>
    {% if (user not in app.user.blockedUsers) and (app.user not in user.blockedUsers) %}
    <section class="user-memoriaux">
        <h2>Mémoriaux créés</h2>
        <div class="container-memoriaux">
            {% if memoriaux|length > 0 %}
                {% for memorial in memoriaux %}
                    {% include '_partials/_memorialCard.html.twig' with {memorial:memorial} only %}
                {% endfor %}   
            {% else %}    
                <p>Pas de mémoriaux créés</p>
            {% endif %}
        </div>
    </section>
    <section id="histoires-creees">
        <h2>Belles Histoires créées</h2>
        {% if histoires | length > 0 %}
            {% for histoire in histoires %}
            <article class="belle-histoire-card">
                <div class="hr-media">
                    <figure>
                        {% if histoire.auteur.id != 416 %}
                        <img src="{{ asset('uploads/imgHistoire/'~ histoire.photo) }}" alt="photo de l'histoire"> 
                        {% else %} 
                        <img src="{{histoire.photo}}" alt="photo de l'histoire"> 
                        {% endif %}
                    </figure>
                </div>
                <div class="hr-content">
                    <div class="hr-infos">
                        <p>{{ histoire.genre }}</p>
                        <p>{{ histoire.dateCreation|date('d-m-Y') }}</p>
                        <p>{{ histoire.howManyLikes}} <i class="fa-solid fa-paw"></i></p>
                    </div>
                    <div class="hr-texte">
                        <h3><a href="{{path('show_histoire', {'slug': histoire.slug}) }}">{{ histoire.titre }}</a></h3>
                        <p>{{ histoire.texte|slice(0, 80)|raw }}...</p>
                    </div>
                    <div class="hr-auteur">
                        <figure>
                            <img src="" alt="">
                        </figure>
                        <p>Auteur : {{ histoire.auteur }}</p>
                    </div>
                </div>
                <div class="share-content">
                    <i class="fa-solid fa-share-nodes"></i>
                </div>
            </article>
            {% endfor %}     
        {% else %}
        <p>Pas de belles histoires créées</p>
        {% endif %}        
    </section>
    <section class="user-topics">
        <h2>Topics créés</h2>
        {% if topics %}
            {% for topic in topics %}
            <div class="topic-user">
                <div class="topic-infos">
                    <figure>
                        <img src="{{ asset('img/default_user.png') }}" alt="">
                    </figure>
                    <div class="title-infos">
                        <a class="topic-title" href="{{path('show_topic', {'slug': topic.slug}) }}">{{ topic.titre }}</a>
                    </div>
                </div>
                <div class="topic-posts">
                    <i class="fa-regular fa-comment"></i>
                    <p>{{ topic.howManyPosts }}</p>
                </div>                 
            </div>
            {# <div class="topic-user">
                <h3>{{ topic.titre }}</h3>
                <a href="{{path('show_topic', {'slug': topic.slug}) }}">Voir</a>
            </div> #}
            {% endfor %}
        {% else %}
            <p>Rien à afficher</p>
        {% endif %}
    </section>
    {% endif %}
</div>
{% endblock %}
