{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}

<div class="container-page">
    <h2>Créer un topic</h2>

    {{ form_start(formAddTopic) }}    
    {{ form_row(formAddTopic.titre) }} 
    {% if edit %}
        {{ form_row(formAddTopic.firstComment, {value: post}) }} 
    {% else %}
        {{ form_row(formAddTopic.firstComment) }}
    {% endif %}
    {{ form_row(formAddTopic.auteur) }} 
    {{ form_row(formAddTopic.submit) }} 
    {{ form_end(formAddTopic) }}

</div>

{% endblock %}
