{% extends 'base.html.twig' %}

{% block title %}
    {% if edit == false %}
        Création d'un topic
    {% else %}
        Edition du topic
    {% endif %}
{% endblock %}

{% block body %}
<div class="container-page">

    {% if edit == false %}
        <h2>Création d'un topic</h2>
    {% else %}
        <h2>Edition du topic</h2>
    {% endif %}

    <form>
        {{ form_start(formAddTopic) }}   
            <div class="form-element">
                {{ form_row(formAddTopic.titre) }}                 
            </div> 
            {% if edit %}
                <div class="form-element">
                    {{ form_row(formAddTopic.firstComment, {value: post}) }}                 
                </div>
            {% else %}
                <div class="form-element">
                    {{ form_row(formAddTopic.firstComment) }}                
                </div>
            {% endif %}
            <div class="form-element">
                {{ form_row(formAddTopic.submit) }}                 
            </div>
        {{ form_end(formAddTopic) }}        
    </form>
</div>
{% endblock %}
