{% extends 'base.html.twig' %}

{% block title %}
    {% if edit == false %}
        Création d'un topic
    {% else %}
        Edition du topic
    {% endif %}
{% endblock %}

{% block body %}
<div class="container-page form-page">

    <div class="formulaire" id="form-topic">
        {% if edit == false %}
            <h1>Création d'un topic</h1>
        {% else %}
            <h1>Edition du topic</h1>
        {% endif %}        
        {{ form_start(formAddTopic) }}   
            <div class="custom-errors">
                {{ form_errors(formAddTopic.titre) }}
            </div>
            <div class="form-element">
                {{ form_row(formAddTopic.titre) }}                 
            </div> 
            {% if edit %}
                <div class="form-element">
                    {{ form_row(formAddTopic.firstComment, {value: post}) }}                 
                </div>
            {% else %}
                <div class="form-element">
                    {{ form_row(formAddTopic.firstComment) }}                
                </div>
                <div class="custom-errors">
                    {{ form_errors(formAddTopic.firstComment) }}
                </div>
            {% endif %}
            <div class="form-element">
                {{ form_row(formAddTopic.submit) }}                 
            </div>
        {{ form_end(formAddTopic) }}        
    </div>
</div>
{% endblock %}
