{% extends 'base.html.twig' %}

{% block title %}
    {% if edit == false %}
        Création d'un topic
    {% else %}
        Edition du topic
    {% endif %}
{% endblock %}

{% block body %}

<div class="container-page">

    {% if edit == false %}
        <h2>Création d'un topic</h2>
    {% else %}
        <h2>Edition du topic</h2>
    {% endif %}

    {{ form_start(formAddTopic) }}    
    {{ form_row(formAddTopic.titre) }} 
    {% if edit %}
        {{ form_row(formAddTopic.firstComment, {value: post}) }} 
    {% else %}
        {{ form_row(formAddTopic.firstComment) }}
    {% endif %}
    {{ form_row(formAddTopic.submit) }} 
    {{ form_end(formAddTopic) }}

</div>

{% endblock %}
