{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}

<div class="container-page forum-page">
    <section id="banniere-forum">
        <h1>Forum</h1>        
    </section>
    <section class="creation">
        {% if app.user.isVerified %}
            <a href="{{ path('add_topic') }}">Créer un topic</a>
        {% else %}
            <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir créer un topic</p>
        {% endif %}        
    </section>
    <section id="topics">
            {% if topics | length > 0 %}
                {% for topic in topics %}
                    <div class="topic">
                        <div class="topic-infos">
                            <figure>
                                <img src="{{ asset('img/default_user.png') }}" alt="">
                            </figure>
                            <div class="title-infos">
                                <a href="{{path('show_topic', {'slug': topic.slug}) }}">{{ topic.titre }}</a>
                                {% if topic.auteur != null %}                              
                                    <p>Créé par <a href="#">{{ topic.auteur }}</a> le {{ topic.dateCreation | date('d-m-Y') }}</p> 
                                {% else %}
                                <p>Créé par utilisateur supprimé le {{ topic.dateCreation | date('d-m-Y') }}</p>
                                {% endif %}    
                            </div>
                        </div>
                        <div class="topic-posts">
                            <i class="fa-regular fa-comment"></i>
                            <p>0</p>
                        </div>                 
                    </div>
                {% endfor %}    
            {% else %}
                <p>Pas de topics pour le moment..</p>
            {% endif %}              
    </section>
    <div class="pagination">
        {{ knp_pagination_render(topics) }}
    </div>
</div>
{% endblock %}
