{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}

<div class="container-page forum-page">
    <p class="fil-ariane"> <a href="{{ path('app_home') }}">Accueil</a> &lt; Forum</p>    
    <section id="banniere-forum">
        <h1>Forum</h1>        
    </section>
    <section id="forum-presentation">
        <div class="texte">
            <p>
                Le forum est un espace d'échange respectueux entre membres inscrits. Il ne possède pas de rubriques : vous êtes libres de créer le sujet de votre choix qui vous permettra de faire votre deuil et d'apporter des réponses à vos questionnements. Les sujets, aussi bien que les échanges se doivent d'être respectueux et tolérants.
                <br> Perdre un compagnon à quatre pattes peut être dévastateur, et il est important de se rappeler que nous ne sommes pas seuls dans notre chagrin. Partagez vos expériences, vos souvenirs et vos émotions ici, et trouvons ensemble des moyens de faire face à cette perte et de trouver du réconfort.
            </p>            
        </div>
    </section>
    <section id="topic-search">
        {{ form_start(form) }}
            {{ form_row(form.mot) }}
            {{ form_row(form.submit, { 'attr': {'class': 'bouton-action'} }) }}
        {{ form_end(form) }}
        <a href="{{ path('app_forum') }}">supprimer la recherche</a>        
    </section>

    <section class="creation">
        {% if app.user.isVerified %}
            <a href="{{ path('add_topic') }}">Créer un topic</a>
        {% else %}
            <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir créer un topic</p>
        {% endif %}        
    </section>
    <section id="topics">
            {% if topics | length > 0 %}
                {% for topic in topics %}
                    <div class="topic">
                        <div class="topic-infos">
                            <figure>
                            {# {% if (topic.auteur != null) and (topic.auteur.photo != null) %} #}
                                <img src="{{ asset('uploads/imgUserProfil/'~ topic.auteur.photo) }}" alt="">
                            {# {% else %}   
                                <img src="{{ asset('img/bouquet_fleurs.jpg') }}" alt="photo de l'animal">     
                            {% endif %} #}
                            </figure>
                            <div class="title-infos">
                                <a class="topic-title" href="{{path('show_topic', {'slug': topic.slug}) }}">{{ topic.titre }}</a>
                                {% if topic.auteur != null %}                              
                                    <p class="infos-crea">Créé par <a href="{{ path('show_profile', {'id': topic.auteur.id}) }}">{{ topic.auteur }}</a> le {{ topic.dateCreation | date('d-m-Y') }}</p> 
                                {% else %}
                                <p>Créé par utilisateur supprimé le {{ topic.dateCreation | date('d-m-Y') }}</p>
                                {% endif %}    
                            </div>
                        </div>
                        <div class="topic-posts">
                            <i class="fa-regular fa-comment"></i>
                            <p>{{ topic.howManyPosts }}</p>
                        </div>                 
                    </div>
                {% endfor %}    
            {% else %}
                <p>Pas de topics pour le moment..</p>
            {% endif %}              
    </section>
    <div class="pagination">
        {{ knp_pagination_render(topics) }}
    </div>
</div>
{% endblock %}
