{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}

<div class="container-page">

    <section class="creation">
        {% if app.user.isVerified %}
            <a href="{{ path('add_topic') }}">Créer un topic</a>
        {% else %}
            <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir créer un topic</p>
        {% endif %}        
    </section>
    <section id="topics">
        <h1>Les topics</h1>

        <table>
            <tr>
                <th>Titre</th>
                <th>Messages</th>
                <th>Date de création</th>
                <th>Auteur</th>
            </tr>
            {% if topics | length > 0 %}
                {% for topic in topics %}
                <div class="topic">
                    <td>
                        <a href="{{path('show_topic', {'slug': topic.slug}) }}">{{ topic.titre }}</a>                    
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        {{ topic.dateCreation | date('d-m-Y') }}
                    </td>
                    <td>
                        {% if topic.auteur != null %}
                            <a href="#">{{ topic.auteur }}</a>
                        {% else %}
                            <p>Utilisateur supprimé</p>
                        {% endif %}
                    </td>
                </div>
                {% endfor %}    
            {% else %}
                <p>Pas de topics pour le moment..</p>
            {% endif %}              
        </table>
    </section>
</div>
{% endblock %}
