{% extends 'base.html.twig' %}

{% block title %}{{topic.titre}}{% endblock %}

{% block body %}

<div class="container-page">
    <section id="topic">
        <h2>{{ topic.titre }}</h2>

        {% if app.user == topic.auteur or app.user and app.user.roles.0 == "ROLE_ADMIN" %}
            <a href="{{path('remove_topic', {'id': topic.id}) }}">Supprimer le topic</a>
            <a href="{{ path('edit_topic', {'id': topic.id}) }}">Edit</a>
            {% if topic.isVerrouillage %}
                <a href="{{ path('verrouillage_topic', {'id': topic.id}) }}">Déverouiller le topic</a> 
            {% else %}
                <a href="{{ path('verrouillage_topic', {'id': topic.id}) }}">Verouiller le topic</a>
            {% endif %}
        {% endif %}

        {% for post in topic.posts %}
            <article class="post">
                <div class="user-post-infos">
                    <figure>
                        <img src="{{ asset('uploads/imgUser/'~ post.auteur.photo) }}" alt="profil de {{ post.auteur }}">
                        <figcaption><a href="{{ path('show_profile', {'id': post.auteur.id}) }}">{{ post.auteur }}</a></figcaption>
                    </figure>           
                </div>
                <div class="post-texte">
                    <p>{{ post.texte }}</p>                
                </div>
                {% if app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                    <a href="{{path('remove_post', {'id': post.id, 'idTopic': topic.id}) }}">Delete</a>
                {% endif %}
            </article>
        {% endfor %}        
    </section>

    <section class="ajout-posts">
        {% if not topic.isVerrouillage %}
            <h5>Ajout de commentaires</h5>
            {% if app.user.isVerified %}
                {{ form_start(formAddPost) }}    
                {{ form_end(formAddPost) }}
            {% else %}
            <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir commenter</p>
            {% endif %}
        {% else %}
            <p>Le topic est verrouillé, vous ne pouvez plus écrire de message</p>
        {% endif %}        
    </section>
</div>
{% endblock %}
