{% extends 'base.html.twig' %}

{% block title %}{{topic.titre}}{% endblock %}

{% block body %}

<div class="container-page">
    <section id="topic">
        <h1>{{ topic.titre }}</h1>

        {% if app.user == topic.auteur or app.user and app.user.roles.0 == "ROLE_ADMIN" %}
            <a href="{{path('remove_topic', {'slug': topic.slug}) }}">Supprimer le topic</a>
            <a href="{{ path('edit_topic', {'slug': topic.slug}) }}">Edit</a>
            {% if topic.isVerrouillage %}
                <a href="{{ path('verrouillage_topic', {'id': topic.id}) }}">Déverouiller le topic</a> 
            {% else %}
                <a href="{{ path('verrouillage_topic', {'id': topic.id}) }}">Verouiller le topic</a>
            {% endif %}
        {% endif %}

        {% for post in topic.posts %}
            <article class="post">
                <div class="user-post-infos">
                    <figure>
                        {% if post.auteur != null %}
                            <img src="{{ asset('uploads/imgUser/'~ post.auteur.photo) }}" alt="profil de {{ post.auteur }}">
                            <figcaption><a href="{{ path('show_profile', {'id': post.auteur.id}) }}">{{ post.auteur }}</a></figcaption>
                        {% else %}
                            <p>Utilisateur supprimé</p>
                        {% endif %}
                    </figure>           
                </div>
                <div class="post-texte">
                    <p>{{ post.texte }}</p>                
                </div>
                {% if app.user and app.user.roles.0 == "ROLE_ADMIN" %}
                    <a href="{{path('remove_post', {'id': post.id, 'slug': topic.slug}) }}">Delete</a>
                {% endif %}
            </article>
        {% endfor %}        
    </section>

    <section class="ajout-posts">
        {% if not topic.isVerrouillage %}
            <h2>Ajout de commentaires</h2>
            {% if app.user.isVerified %}
                <div class="formulaire">
                    {{ form_start(formAddPost) }}    
                        <div class="form-element">
                            {{ form_row(formAddPost.texte) }}
                        </div>
                        <div class="form-element">
                            {{ form_row(formAddPost.submit) }}
                        </div>
                    {{ form_end(formAddPost) }}                    
                    </div>

            {% else %}
            <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir commenter</p>
            {% endif %}
        {% else %}
            <p>Le topic est verrouillé, vous ne pouvez plus écrire de message</p>
        {% endif %}        
    </section>
</div>
{% endblock %}
