{% extends 'base.html.twig' %}

{% block title %}{{topic.titre}}{% endblock %}

{% block body %}

<div class="container-page js-refresh-page topic-page">
    <section id="banniere-topic" class="banniere">
        <h1>{{ topic.titre }}</h1>        
    </section>
    <p class="fil-ariane"> <a href="{{ path('app_home') }}">Accueil</a> &lt; <a href="{{ path('app_forum') }}"> Forum </a> &lt; {{ topic.titre }}</p>
    <section id="topic">
        {% if app.user == topic.auteur %}
            <a id="open-dialog" href="#"><i class="fa-solid fa-trash"></i></a>
            <dialog id="delete-dialog">
                <p><i class="fa-solid fa-triangle-exclamation"></i> Cette action est irréversible, êtes-vous sûr de vouloir supprimer le sujet ?</p>
                <form method="dialog" id="dialog-form-delete">
                    <button id="annuler">Non, je veux continuer à m'exprimer !</button>
                    <a id="dialog-supprimer" href="{{ path('remove_topic', {'slug':topic.slug}) }}">Supprimer le sujet</a>
                </form>
            </dialog>  
            <a href="{{ path('edit_topic', {'slug': topic.slug}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
            {% if topic.isVerrouillage %}
                <a href="{{ path('verrouillage_topic', {'id': topic.id}) }}">Déverouiller le topic</a> 
            {% else %}
                <a href="{{ path('verrouillage_topic', {'id': topic.id}) }}">Verouiller le topic</a>
            {% endif %}
        {% else %}
            {% if topic.reports |length > 0 %}
                {% for report in app.user.reportedTopics %}
                        {% if (report.topic == topic) and (app.user == report.signaleur) %}
                                <a class="report-flag corner-flag" href="{{ path('app_report_topic', {'id': topic.id}) }}"><i class="fa-solid fa-flag flag-report-icon reported"></i></a> 
                        {% endif %}
                {% endfor %}
            {% else %}
                    <a class="report-flag corner-flag" href="{{ path('app_report_topic', {'id': topic.id}) }}"><i class="fa-solid fa-flag flag-report-icon unreported"></i></a> 
            {% endif %}
        {% endif %}

    </section>
    {% include '_partials/_posts.html.twig' %} 
    <div class="pagination">
        {{ knp_pagination_render(posts) }}
    </div>
    <section class="ajout-posts">
        {% if not topic.isVerrouillage %}
            <h2>Ajouter un message</h2>
            {% if app.user.isVerified %}
                <div class="formulaire">
                    {{ form_start(formAddPost, {attr: {class: 'js-submit-form'}}) }}    
                        <div class="custom-errors">
                            {{ form_errors(formAddPost.texte) }}
                        </div>
                        <div class="form-element">
                            {{ form_row(formAddPost.texte) }}
                        </div>
                        <div class="form-element">
                            {{ form_row(formAddPost.submit, {attr: {class: 'form-button'}}) }}
                        </div>
                    {{ form_end(formAddPost) }}                    
                    </div>

            {% else %}
            <p>Veuillez cliquer sur le lien envoyé à votre adresse mail pour pouvoir commenter</p>
            {% endif %}
        {% else %}
            <p>Le topic est verrouillé, vous ne pouvez plus écrire de message</p>
        {% endif %}        
    </section>

</div>
{% endblock %}
